{% load staticfiles %}
{% load website_extras %}
<h4 class="text-center">{{ division }}</h4>
<div class="card card-nav-tabs">
   <div class="header header-primary">
      <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                  <li role="presentation" class="active"><a href="#current{{ divisionVal }}" aria-controls="current{{ divisionVal }}" role="tab" data-toggle="tab">Current</a></li>
                  <li role="presentation"><a href="#historical{{ divisionVal }}" aria-controls="historical{{ divisionVal }}" role="tab" data-toggle="tab">Historical</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="current{{ divisionVal }}">
      <div class="well bs-component">
        <div class="table-responsive">
          <table id="{{ divisionVal }}-table" class="table full-width">
            <thead>
              <tr>
                <th class="text-center">Team Name</th>
                <th class="text-center">Games Played</th>
                <th class="text-center">Wins</th>
                <th class="text-center">Losses</th>
                <th class="text-center">Points</th>
                <th class="text-center">Points3</th>
                <th class="text-center">PointsTie</th>
                <th class="text-center">PointsNL</th>
                <th class="text-center">Goals For</th>
                <th class="text-center">Goals Against</th>
                <th class="text-center">Streak</th>
              </tr>
            </thead>
            <tbody>
              {% for teamName, team in teams.items %}
                {% if team.team_division == divisionVal or team.team_division in divisionVal %}
                  <tr>
                    <td class="text-left" style="white-space:nowrap;"><a href='/teams/{{ teamName.split|join:"-" }}'><img height="17" width="17" src="{% static "/img/team/"|add:team.abbreviation|add:".png" %}" />&nbsp;&nbsp;{{ teamName }}</a></td>
                    <td class="text-center">{{ team.gamesPlayed }}</td>
                    <td class="text-center">{{ team.wins }}</td>
                    <td class="text-center">{{ team.losses }}</td>
                    <td class="text-center">{{ team.points }}</td>
                    <td class="text-center">{{ team.points3 }}</td>
                    <td class="text-center">{{ team.pointstie }}</td>
                    <td class="text-center">{{ team.pointsnl }}</td>
                    <td class="text-center">{{ team.goalsFor }}</td>
                    <td class="text-center">{{ team.goalsAgainst }}</td>
                    <td class="text-center" style="color:{{ team.streakCode|streakColor }}">{{ team.streakCode }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="historical{{ divisionVal }}">
        <h4 class="text-center"><button type="button" class="btn btn-xs btn-primary" id="{{ divisionVal }}historicalButton"><i class="fa fa-floppy-o"></i> Save</button></h4>
      <div id="{{ divisionVal }}historical"></div>
    </div>
  </div>
</div>
