{% load staticfiles %}
{% load website_extras %}
<div class="card">
  <h4 class="text-center">{{ division }}</h4>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#current{{ divisionVal }}" aria-controls="current{{ divisionVal }}" role="tab" data-toggle="tab">Current</a></li>
    <li role="presentation"><a href="#historical{{ divisionVal }}" aria-controls="historical{{ divisionVal }}" role="tab" data-toggle="tab">Historical</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="current{{ divisionVal }}">
      <div class="well bs-component">
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Team Name</th>
              <th>Games Played</th>
              <th>Wins</th>
              <th>Losses</th>
              <th>Points</th>
              <th>Goals For</th>
              <th>Goals Against</th>
              <th>Streak</th>
            </tr>
          </thead>
          <tbody>
            {% for team in teams %}
              {% if team.team.division == divisionVal %}
                <tr>
                  <td style="white-space:nowrap;"><a href="/teams/{{ team.team.id }}">{{ team.team.teamName }}</a></td>
                  <td>{{ team.gamesPlayed }}</td>
                  <td>{{ team.wins }}</td>
                  <td>{{ team.losses }}</td>
                  <td>{{ team.points }}</td>
                  <td>{{ team.goalsScored }}</td>
                  <td>{{ team.goalsAgainst }}</td>
                  <td style="color:{{ team.streakCode|streakColor }}">{{ team.streakCode }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="historical{{ divisionVal }}">
        <h4 class="text-center"><button type="button" class="btn btn-xs btn-primary" id="{{ divisionVal }}historicalButton"><i class="fa fa-floppy-o"></i> Save</button></h4>
      <div id="{{ divisionVal }}historical"></div>
    </div>
  </div>
</div>