{% extends "wrappers/wrapper.html" %}
{% load staticfiles %}
{% block title %}Glossary{% endblock %}
{% block page_css %}

{% endblock %}
{% block content %}
<div class="container">
  <div class="card">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Glossary</h1>
          <p class="text-center">While this glossary is probably not complete, it should encompass everything discussed on this site and more. The various abbreviations and terms used in the hockey analytics world are extensive and slightly overwhelming and we hope this page helps explain things slightly better. If something is wrong or still doesn't make sense, yell at <i class="fa fa-twitter"></i><a target="_blank" href="http://twitter.com/MattDaye">@MattDaye</a></p>
          <table id="glossary" class="table full-width">
            <thead>
              <tr>
                <th>Term</th>
                <th>Definition</th>
              </tr>
            </thead>
            <tbody>
              {% for item in terms %}
              <tr>
                <td>{{ item.key }}</td>
                <td>{{ item.value }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block page_js %}
<script src="{% static "js/datatables.min.js" %}"></script>
<script>
    $(document).ready(function() {
        $('#glossary').DataTable({
            "iDisplayLength": 15,
            "bSort": true
        });
    });
</script>
{% endblock %}
