{% extends "wrappers/wrapper.html" %}
{% load website_extras %}
{% load staticfiles %}
{% block page_css %}
<link href="{% static "css/datatables.min.css" %}" rel="stylesheet">
<link href="{% static "css/datatables-fontawesome.css" %}" rel="stylesheet">
<!--[if !IE]><!-->

<!--<![endif]-->
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <h3>Recent and Upcoming Games</h3>
                        <div class="table-responsive">
                            <table id="games" class="table full-width">
                                <thead>
                                    <th>Game Date</th>
                                    <th>Session</th>
                                    <th class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;Away</th>
                                    <th class="text-center">Score</th>
                                    <th class="text-left">Home&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                    <th>Corsi</th>
                                    <th>Status</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th></th>
                                </thead>

                                <tbody>
                                {% for game in games %}
                                  <tr>
                                    <td>{{ game.dateTime|date }}</td>
                                    <td>{{ game.gameType|gameType }}</td>
                                    <td class="text-right"><a href='/teams/{{ game.awayTeamName.split|join:"-" }}'>{{ game.awayTeamName }}&nbsp;&nbsp;<img height="17" width="17" src="{% static "/img/team/"|add:game.awayAbbreviation|add:".png" %}" /></a></td>
                                    <td class="text-center">{{ game.awayScore }} - {{ game.homeScore }}</td>
                                    <td class="text-left"><a href='/teams/{{ game.homeTeamName.split|join:"-" }}'><img height="17" width="17" src="{% static "/img/team/"|add:game.homeAbbreviation|add:".png" %}" />&nbsp;&nbsp;{{ game.homeTeamName }}</a></td>
                                    <td>{% if game.homeShots != None %}{{ game.awayShots|add:game.homeBlocked|add:game.awayMissed }} / {{ game.homeShots|add:game.awayBlocked|add:game.homeMissed }}{% endif %}</td>
                                    <td>{{ game.gameState|gameStatus }}{{ game|checkOT }}</td>
                                    <td>{{ game.dateTime|time }}</td>
                                    <td>{% if game.endDateTime != None %}{{ game.endDateTime|time }}{% endif %}</td>
                                    <td class='text-right'><a href="/games/{{ game.gamePk }}">Game Details</a></td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block page_js %}
<script src="{% static "js/datatables.min.js" %}"></script>
<script>
    $(document).ready(function() {
        $('#games').DataTable({
            "iDisplayLength": 30,
            "bSort": false,
            "bPaginate": false,
        });

    });
</script>
{% endblock %}
