{% extends "wrappers/wrapper.html" %}
{% load website_extras %}
{% load staticfiles %}
{% block page_css %}
<link href="{% static "css/datatables.min.css" %}" rel="stylesheet">
<link href="{% static "css/datatables-fontawesome.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <h3>2016 - 2017 Games</h3>
                        <table id="games" class="table responsive nowrap">
                            <thead>
                                <th>Game Date</th>
                                <th>Session</th>
                                <th>Home</th>
                                <th class="text-center">Score</th>
                                <th>Away</th>
                                <th>Corsi</th>
                                <th>Status</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th></th>
                            </thead>

                            <tbody>
                            {% for game in games %}
                              <tr>
                                <td>{{ game.dateTime|date }}</td>
                                <td>{{ game.gameType|gameType }}</td>
                                <td><img height="17" width="17" src='{% with 'img/team/'|add:game.homeTeam.abbreviation|add:'.png' as image_static %}{% static image_static %} {% endwith %}'><a class ='text-center'href="/teams/{{ game.homeTeam.teamName.split|join:'-' }}">{{ game.homeTeam.teamName }}</a></td>
                                <td class="text-center">{{ game.homeScore }} - {{ game.awayScore }}</td>
                                <td><img height="17" width="17" src='{% with 'img/team/'|add:game.awayTeam.abbreviation|add:'.png' as image_static %}{% static image_static %} {% endwith %}'><a href="/teams/{{ game.awayTeam.teamName.split|join:'-' }}">{{ game.awayTeam.teamName }}</a></td>
                                <td>{% if game.homeShots != None %}{{ game.homeShots|add:game.awayBlocked|add:game.homeMissed }} / {{ game.awayShots|add:game.homeBlocked|add:game.awayMissed }}{% endif %}</td>
                                <td>{{ game.gameState|gameStatus }}{{ game|checkOT }}</td>
                                <td>{{ game.dateTime|time }}</td>
                                <td>{% if game.endDateTime != None %}{{ game.endDateTime|time }}{% endif %}</td>
                                <td class='text-right'><a href="/games/{{ game.gamePk }}">Game Details</a></td>
                              </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block page_js %}
<script src="{% static "js/datatables.min.js" %}"></script>
<script>
    $(document).ready(function() {
        $('#games').DataTable({
            "iDisplayLength": 15,
            "bSort": false
        });

    });
</script>
{% endblock %}