{% extends "wrappers/wrapper.html" %}
{% load website_extras %}
{% load staticfiles %}
{% block page_css %}
<link href="{% static "css/datatables.min.css" %}" rel="stylesheet">
<link href="{% static "css/datatables-fontawesome.css" %}" rel="stylesheet">
<!--[if !IE]><!-->

<!--<![endif]-->
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card card-nav-tabs">
            <div class="header header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="active">
                                <a href="#league" data-toggle="tab" aria-expanded="true">
                                    League View
                                <div class="ripple-container"></div></a>
                            </li>
                            <li class="">
                                <a href="#conference" data-toggle="tab" aria-expanded="false">
                                    Conference View
                                <div class="ripple-container"></div></a>
                            </li>
                            <li class="">
                                <a href="#division" data-toggle="tab" aria-expanded="false">
                                    Division View
                                <div class="ripple-container"></div></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="league">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="text-center">League</h4>
                                    <table id="AMCP-table" class="table full-width table-condensed table-bordered table-hover table-striped">
                                        <thead>
                                          <tr>
                                            <th class="text-center">Team Name</th>
                                            <th class="text-center">Games Played</th>
                                            <th class="text-center">Wins</th>
                                            <th class="text-center">Losses</th>
                                            <th class="text-center">Points</th>
                                            <th class="text-center" title="Percentage of Possible Points">Points%</th>
                                            <th class="text-center" title="Points, 3-2-1-0 System">Points3</th>
                                            <th class="text-center" title="Points, Tie After Overtime Ends">PointsTie</th>
                                            <th class="text-center" title="Points, No Tie or Loser Points">PointsNL</th>
                                            <th class="text-center">Goals For</th>
                                            <th class="text-center">Goals Against</th>
                                            <th class="text-center">Streak</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for teamName, team in teams.items %}
                                            <tr>
                                                <td class="text-left" style="white-space:nowrap;"><a href='/teams/{{ teamName.split|join:"-" }}'><img height="17" width="17" src="{% static "/img/team/"|add:team.abbreviation|add:".png" %}" />&nbsp;&nbsp;{{ teamName }}</a></td>
                                                <td class="text-center">{{ team.gamesPlayed }}</td>
                                                <td class="text-center">{{ team.wins }}</td>
                                                <td class="text-center">{{ team.losses }}</td>
                                                <td class="text-center">{{ team.points }}</td>
                                                <td class="text-center">{{ team.pointsper }}</td>
                                                <td class="text-center">{{ team.points3 }}</td>
                                                <td class="text-center">{{ team.pointstie }}</td>
                                                <td class="text-center">{{ team.pointsnl }}</td>
                                                <td class="text-center">{{ team.goalsFor }}</td>
                                                <td class="text-center">{{ team.goalsAgainst }}</td>
                                                <td class="text-center" style="color:{{ team.streakCode|streakColor }}">{{ team.streakCode }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="conference">
                    <div class="card">
                        <div class="content">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <h3>Conference Standings</h3>
                                    <p>{{ formstate }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    {% include "website/division_table.html" with division="Western" divisionVal="CP" %}
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    {% include "website/division_table.html" with division="Eastern" divisionVal="AM" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="division">
                    <div class="card">
                        <div class="content">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <h3>Division Standings</h3>
                                    <p>{{ formstate }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    {% include "website/division_table.html" with division="Central" divisionVal="C" %}
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    {% include "website/division_table.html" with division="Metropolitan" divisionVal="M" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    {% include "website/division_table.html" with division="Pacific" divisionVal="P" %}
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    {% include "website/division_table.html" with division="Atlantic" divisionVal="A" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="canvasArea">
    <canvas style="display:none;" id="canvas" width="1000px" height="700px"></canvas>
</div>

{% endblock %}
{% block page_js %}
<script src="{% static "js/datatables.min.js" %}"></script>
<script src="{% static "js/d3.min.js" %}"></script>
<script src="{% static "js/teamColors.js" %}"></script>
<script src="{% static "js/graphs/historicalStandings.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/rgbcolor.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/StackBlur.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/canvg.js" %}"></script>
<script src="{% static "js/graphs/savePNG.js" %}"></script>
<script>
    $(document).ready(function() {

        var data = {{ divisions|safe }};
        var twidth = $("#AMCP-table").width() - 10,
            theight = $("#AMCP-table").height() - 10;

        CreateHistorical("#Ahistorical", data["A"], twidth / 2, theight / 2);
        CreateHistorical("#Mhistorical", data["M"], twidth / 2, theight / 2);
        CreateHistorical("#Chistorical", data["C"], twidth / 2, theight / 2);
        CreateHistorical("#Phistorical", data["P"], twidth / 2, theight / 2);
        savePNG("#AhistoricalButton", "#Ahistorical");
        savePNG("#MhistoricalButton", "#Mhistorical");
        savePNG("#ChistoricalButton", "#Chistorical");
        savePNG("#PhistoricalButton", "#Phistorical");
        var AM = data["A"];
        for (var key in data["M"]) {
            AM[key] = data["M"][key];
        }
        var CP = data["C"];
        for (var key in data["P"]) {
            CP[key] = data["P"][key];
        }
        CreateHistorical("#AMhistorical", AM, twidth / 2, theight / 2);
        CreateHistorical("#CPhistorical", CP, twidth / 2, theight / 2);
        savePNG("#AMhistoricalButton", "#AMhistorical");
        savePNG("#CPhistoricalButton", "#CPhistorical");

        $('#AMCP-table').DataTable({
            "bPaginate": false,
            "bSort": true,
            "order": [
                [4, "desc"]
            ],
        });
        $('#AM-table').DataTable({
            "bPaginate": false,
            "bSort": true,
            "order": [
                [4, "desc"]
            ],
        });
        $('#CP-table').DataTable({
            "bPaginate": false,
            "bSort": true,
            "order": [
                [4, "desc"]
            ],
        });
        $('#A-table').DataTable({
            "bPaginate": false,
            "bSort": true,
            "order": [
                [4, "desc"]
            ],
        });
        $('#M-table').DataTable({
            "bPaginate": false,
            "bSort": true,
            "order": [
                [4, "desc"]
            ],
        });
        $('#C-table').DataTable({
            "bPaginate": false,
            "bSort": true,
            "order": [
                [4, "desc"]
            ],
        });
        $('#P-table').DataTable({
            "bPaginate": false,
            "bSort": true,
            "order": [
                [4, "desc"]
            ],
        });

    });
</script>
{% endblock %}
