#main-navigation {
    background-color: #000;
    border-radius: 0px;
}

.card .header-primary {
    background: linear-gradient(60deg, #0A0A0A, #000000);
}

.card-carousel {
    min-height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align:center;
    vertical-align: middle;
}

.card-carousel p {
    margin-top: 30px;
}

a {
    color: #1D9EB5;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.fls-logo {
    height: 60px;
    margin-top: -15px;
}
.navbar-brand>img {
    display: -webkit-inline-box;
}

.bs-component {
    border-radius:0px;
    background-color: inherit;
    border: 0px;
    margin-bottom: 0px;
}

.filter-collapsed {
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); /* IE 9 */
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
}
.filter-expanded {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
}

#gamesCarousel {
    max-height: 200px;
}

.checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

.innerline {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.opacityfifty {
    opacity: 0.5;
}
