#main-navigation {
    background-color: #000;
    border-radius: 0px;
}

.card .header-primary {
    background: linear-gradient(60deg, #0A0A0A, #000000);
}

a {
    color: #1D9EB5;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.fls-logo {
      height: 60px;
      margin-top: -15px;
}
.navbar-brand>img {
      display: -webkit-inline-box;
}
