{% extends "wrappers/wrapper.html" %}
{% load website_extras %}
{% load pbp_extras %}
{% load staticfiles %}
{% block title %}{{ team.name }}{% endblock %}
{% block page_css %}
<link href="{% static "css/datatables.min.css" %}" rel="stylesheet">
<link href="{% static "css/datatables-fontawesome.css" %}" rel="stylesheet">
<link href="{% static "css/fixedColumns.bootstrap.min.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-2">
                                <img src='{% with 'img/team/'|add:team.abbreviation|add:'.png' as image_static %}{% static image_static %} {% endwith %}'>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                     <div class="col-md-12">
                                        <h2>{{ team.name }}</h2>
                                        <h4>{{ team.venue }}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5>{{ team.conference }} Conference | {{ team.division }} Division</h5>
                                    </div>
                                    <div class="col-md-4">
                                         <h5><a href="{{ team.officialSiteUrl }}" style="float: right;">{{ team.officialSiteUrl|cut:'http://' }}</a></h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <div class="well bs-component">
                        <h4 class="filter-options" data-toggle="collapse" data-target="#gameFilter">
                        Filter Options
                        <img class="filter-collapsed" height="20" width="20" style="float: right"src="{% with 'img/arrow.svg' as image_static %}{% static image_static %} {% endwith %}">
                        </h4>
                        <div class="row">
                            <div class="col-md-12">
                                <form id="gameFilter" class="collapse" action="" method="GET">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                {{ form.teamstrengths.label }}
                                                {{ form.teamstrengths }}
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                {{ form.scoresituation.label }}
                                                {{ form.scoresituation }}
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                {{ form.period.label }}
                                                {{ form.period }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button class="btn" type="submit">Submit<div class="ripple-container"></div></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-nav-tabs">
            <div class="header header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="active">
                                <a href="#statview" data-toggle="tab" aria-expanded="false">
                                    Stats By Season
                                <div class="ripple-container"></div></a>
                            </li>
                            <li class="">
                                <a href="#graphview" data-toggle="tab" aria-expanded="false">
                                    Graph View
                                <div class="ripple-container"></div></a>
                            </li>
                            <li class="">
                                <a href="#tableview" data-toggle="tab" aria-expanded="true">
                                    Roster
                                <div class="ripple-container"></div></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="teamTabContent" class="content">
                    <div class="tab-content text-center">
                        <div class="tab-pane active" id="statview">
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Team Stats</h3>
                                        <p>{{ form|format_form_state }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table id="teamstats" class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" title="Season">Season</th>
                                                        <th class="text-center" title="Games">Games</th>
                                                        <th class="text-center" title="On-Ice Goals For Percentage">GF%</th>
                                                        <th class="text-center" title="On-Ice Shots-On-Goal For Percentage">SF%</th>
                                                        <th class="text-center" title="Missed Shots For Percentage">MSF%</th>
                                                        <th class="text-center" title="Blocked Shots Percentage">BSF%</th>
                                                        <th class="text-center" title="Corsi For Percentage">CF%</th>
                                                        <th class="text-center" title="On-Ice Scoring Chances For Percentage">SCF%</th>
                                                        <th class="text-center" title="On-Ice High-Danger Scoring Chances For Percentage">HSCF%</th>
                                                        <th class="text-center" title="Offensive Zone Starts Percentage">ZSO%</th>
                                                        <th class="text-center" title="Faceoffs Won Percentage">FO_W%</th>
                                                        <th class="text-center" title="Hit Percentage">Hit%</th>
                                                        <th class="text-center" title="Time On Ice">TOI/Gm</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for teamid, seasons in stats.items %}
                                                        {% for season, team in seasons.items %}
                                                        <tr>
                                                            <td title="Season">{{ season }}</td>
                                                            <td title="Games">{{ team.games }}</td>
                                                            <td title="On-Ice Goals For Percentage">{{ team.gf }}</td>
                                                            <td title="On-Ice Shots-On-Goal For Percentage">{{ team.sf }}</td>
                                                            <td title="Missed Shots For Percentage">{{ team.msf }}</td>
                                                            <td title="Blocked Shots Percentage">{{ team.bsf }}</td>
                                                            <td title="Corsi For Percentage">{{ team.cf }}</td>
                                                            <td title="On-Ice Scoring Chances For Percentage">{{ team.sc }}</td>
                                                            <td title="On-Ice High-Danger Scoring Chances For Percentage">{{ team.hsc }}</td>
                                                            <td title="Offensive Zone Starts Percentage">{{ team.zso }}</td>
                                                            <td title="Faceoffs Won Percentage">{{ team.fo_w }}</td>
                                                            <td title="Hit Percentage">{{ team.hit }}</td>
                                                            <td title="Time On Ice">{{ team.toi }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="graphview">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Graph View</h3>
                                    <p>{{ form|format_form_state }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-10 col-sm-12">
                                                <div class="form-group">
                                                    Y-Axis
                                                    <select class="form-control input-md" id="yaxis">
                                                        <option value="gf" selected>GF%</option>
                                                        <option value="sf">SF%</option>
                                                        <option value="msf">MSF%</option>
                                                        <option value="bsf">BSF%</option>
                                                        <option value="cf">CF%</option>
                                                        <option value="sc">SCF%</option>
                                                        <option value="hsc">HSCF%</option>
                                                        <option value="zso">ZSO%</option>
                                                        <option value="pn">PN%</option>
                                                        <option value="fo_w">FO_W%</option>
                                                        <option value="hit">Hit%</option>
                                                        <option value="toi">TOI/Gm</option>
                                                    </select>
                                                <span class="material-input"></span></div>
                                            </div>
                                            <div class="col-md-2 col-sm-12">
                                                <div class="form-group">
                                                    <button id="refreshGraph" class="btn">Refresh<div class="ripple-container"></div></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-xs btn-primary" id="comparisonButton"><i class="fa fa-floppy-o"></i> Save</button>
                                    <div id="comparisonGraph"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tableview">
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Team Roster</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Active Roster</h3>
                                        <table class="table table-striped table-hover ">
                                          <thead>
                                            <tr>
                                                <th class="text-center">Name</th>
                                                <th class="text-center">Number</th>
                                                <th class="text-center">Position</th>
                                                <th class="text-center">Age</th>
                                                <th class="text-center">Height</th>
                                                <th class="text-center">Weight</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for player in players %}
                                                {% if player.rosterStatus == 'Y' %}
                                                  <tr>
                                                    <td><a href="/players/{{ player.id }}">{{ player.fullName }}</a></td>
                                                    <td>{{ player.primaryNumber }}</td>
                                                    <td>{{ player.primaryPositionCode|player_position }}</td>
                                                    <td>{{ player.age }}</td>
                                                    <td>{{ player.height }}</td>
                                                    <td>{{ player.weight }}</td>
                                                  </tr>
                                                {% endif %}
                                            {% endfor %}
                                          </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Injured Reserve Roster</h3>
                                        <table class="table table-striped table-hover ">
                                          <thead>
                                            <tr>
                                              <th class="text-center">Name</th>
                                              <th class="text-center">Number</th>
                                              <th class="text-center">Position</th>
                                              <th class="text-center">Age</th>
                                              <th class="text-center">Height</th>
                                              <th class="text-center">Weight</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for player in players %}
                                                {% if player.rosterStatus == 'I' %}
                                                  <tr>
                                                    <td><a href="/players/{{ player.id }}">{{ player.fullName }}</a></td>
                                                    <td>{{ player.primaryNumber }}</td>
                                                    <td>{{ player.primaryPositionCode|player_position }}</td>
                                                    <td>{{ player.age }}</td>
                                                    <td>{{ player.height }}</td>
                                                    <td>{{ player.weight }}</td>
                                                  </tr>
                                                {% endif %}
                                            {% endfor %}
                                          </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
        </div>


    </div>
<div id="canvasArea">
    <canvas style="display:none;" id="canvas" width="1000px" height="700px"></canvas>
</div>
{% endblock %}
{% block page_js %}
<script src="{% static "js/datatables.min.js" %}"></script>
<script src="{% static "js/dataTables.fixedColumns.min.js" %}"></script>
<script src="{% static "js/d3.min.js" %}"></script>
<script src="{% static "js/teamColors.js" %}"></script>
<script src="{% static "js/graphs/teamCompare.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/rgbcolor.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/StackBlur.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/canvg.js" %}"></script>
<script src="{% static "js/graphs/savePNG.js" %}"></script>
<script>
    $(document).ready(function() {

        $('#teamstats').DataTable({
            "bPaginate": true,
            "order": [[0, "desc"]],
            "pageLength": 50,
        });

        var data = JSON.parse("{{ statsJson | escapejs }}");
        teamCompare('#comparisonGraph', "#teamTabContent", "season", "gf", data);
        savePNG("#comparisonButton", "#comparisonGraph");
        $('#refreshGraph').click(function(e) {
            e.preventDefault();
            var y = $('#yaxis').val();
            teamCompare("#comparisonGraph", "#teamTabContent", "season", y, data);
        });
    });
</script>
{% endblock %}
