{% extends "wrappers/wrapper.html" %}
{% load website_extras %}
{% load pbp_extras %}
{% load staticfiles %}
{% block title %}{{ team.name }}{% endblock %}
{% block page_css %}
<link href="{% static "css/datatables.min.css" %}" rel="stylesheet">
<link href="{% static "css/datatables-fontawesome.css" %}" rel="stylesheet">
<link href="{% static "css/fixedColumns.bootstrap.min.css" %}" rel="stylesheet">
<style>
rect {
  fill: transparent;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

.dot {
  fill-opacity: .5;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
</style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                     <div class="col-md-12">
                                        <h2>{{ team.name }}</h2>
                                        <h4>{{ team.venue }}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5>{{ team.conference }} Conference | {{ team.division }} Division</h5>
                                    </div>
                                    <div class="col-md-4">
                                         <h5><a href="{{ team.officialSiteUrl }}" style="float: right;">{{ team.officialSiteUrl|cut:'http://' }}</a></h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <div class="well bs-component">
                        <h4 class="filter-options" data-toggle="collapse" data-target="#gameFilter">
                        Filter Options
                        <img class="filter-collapsed" height="20" width="20" style="float: right"src="{% with 'img/arrow.svg' as image_static %}{% static image_static %} {% endwith %}">
                        </h4>
                        <div class="row">
                            <div class="col-md-12">
                                <form id="gameFilter" class="collapse" action="" method="GET">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                {{ form.teamstrengths.label }}
                                                {{ form.teamstrengths }}
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                {{ form.scoresituation.label }}
                                                {{ form.scoresituation }}
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                {{ form.period.label }}
                                                {{ form.period }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button class="btn btn-primary" type="submit">Submit<div class="ripple-container"></div></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-nav-tabs">
            <div class="header header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="active">
                                <a href="#statview" data-toggle="tab" aria-expanded="false">
                                    Stats By Season
                                <div class="ripple-container"></div></a>
                            </li>
                            <li class="">
                                <a href="#graphview" data-toggle="tab" aria-expanded="false">
                                    Graph View
                                <div class="ripple-container"></div></a>
                            </li>
                            <li class="">
                                <a href="#tableview" data-toggle="tab" aria-expanded="true">
                                    Roster
                                <div class="ripple-container"></div></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="teamTabContent" class="content">
                    <div class="tab-content">
                        <div class="tab-pane active" id="statview">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <h3>Team Stats</h3>
                                    <p>{{ form|format_form_state }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table id="teamstats" class="table full-width">
                                            <thead>
                                                <tr>
                                                    <th title="Season">Season</th>
                                                    <th title="Games">Games</th>
                                                    <th title="On-Ice Goals For Percentage">GF%</th>
                                                    <th title="On-Ice Shots-On-Goal For Percentage">SF%</th>
                                                    <th title="Missed Shots For Percentage">MSF%</th>
                                                    <th title="Blocked Shots Percentage">BSF%</th>
                                                    <th title="PDO">PDO</th>
                                                    <th title="Corsi For Percentage">CF%</th>
                                                    <th title="Corsi For per 60">CF60</th>
                                                    <th title="Corsi Against per 60">CA60</th>
                                                    <th title="Corsi Shooting Percentage">CSh%</th>
                                                    <th title="Corsi Save Percentage">CSv%</th>
                                                    <th title="Fenwick For Percentage">FF%</th>
                                                    <th title="Fenwick For per 60">FF60</th>
                                                    <th title="Fenwick Against per 60">FA60</th>
                                                    <th title="Fenwick Shooting Percentage">FSh%</th>
                                                    <th title="Fenwick Save Percentage">FSv%</th>
                                                    <th title="On-Ice Scoring Chances For Percentage">SCF%</th>
                                                    <th title="On-Ice High-Danger Scoring Chances For Percentage">HSCF%</th>
                                                    <th title="Offensive Zone Starts Percentage">ZSO%</th>
                                                    <th title="Penalties Percentage">PN%</th>
                                                    <th title="Faceoffs Won Percentage">FO_W%</th>
                                                    <th title="Hit Percentage">Hit%</th>
                                                    <th title="Time On Ice">TOI/Gm</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for teamid, seasons in stats.items %}
                                                    {% for season, team in seasons.items %}
                                                    <tr>
                                                        <td title="Season">{{ season }}</td>
                                                        <td title="Games">{{ team.games }}</td>
                                                        <td title="GF: {{ team.goalsFor }} GA: {{ team.goalsAgainst }}">{{ team.gf }}</td>
                                                        <td title="SF: {{ team.shotsFor }} SA: {{ team.shotsAgainst }}">{{ team.sf }}</td>
                                                        <td title="MSF: {{ team.missedShotsFor }} MSA: {{ team.missedShotsAgainst }}">{{ team.msf }}</td>
                                                        <td title="BSF: {{ team.blockedShotsFor }} BSA: {{ team.blockedShotsAgainst }}">{{ team.bsf }}</td>
                                                        <td title="Sv%: {{ team.save_percent }} + Sh%: {{ team.shot_percent }}">{{ team.pdo }}</td>
                                                        <td title="CF: {{ team.corsiFor }} CA: {{ team.corsiAgainst }}">{{ team.cf }}</td>
                                                        <td title="CF: {{ team.corsiFor }} toi: {{ team.toiSeconds }}">{{ team.cf60 }}</td>
                                                        <td title="CA: {{ team.corsiAgainst }} toi: {{ team.toiSeconds }}">{{ team.ca60 }}</td>
                                                        <td title="">{{ team.csh }}</td>
                                                        <td title="">{{ team.csa }}</td>
                                                        <td title="FF: {{ team.fenwickFor }} FA: {{ team.fenwickAgainst }}">{{ team.ff }}</td>
                                                        <td title="FF: {{ team.fenwickFor }} toi: {{ team.toiSeconds }}">{{ team.ff60 }}</td>
                                                        <td title="FA: {{ team.fenwickAgainst }} toi: {{ team.toiSeconds }}">{{ team.fa60 }}</td>
                                                        <td title="">{{ team.fsh }}</td>
                                                        <td title="">{{ team.fsa }}</td>
                                                        <td title="SCF: {{ team.scoringChancesFor }} SCA: {{ team.scoringChancesAgainst }}">{{ team.sc }}</td>
                                                        <td title="HSCF: {{ team.highDangerScoringChancesFor }} HSCA: {{ team.highDangerScoringChancesAgainst }}">{{ team.hsc }}</td>
                                                        <td title="ZSO: {{ team.offensiveZoneStartsFor }} ZSA: {{ team.offensiveZoneStartsAgainst }}">{{ team.zso }}</td>
                                                        <td title="PenFor: {{ team.penaltyFor }} PenAgainst: {{ team.penaltyAgainst }}">{{ team.pn }}</td>
                                                        <td title="FOW: {{ team.faceoffWins }} FOL: {{ team.faceoffLosses }}">{{ team.fo_w }}</td>
                                                        <td title="HitFor: {{ team.hitFor }} HitAgainst: {{ team.hitAgainst }}">{{ team.hit }}</td>
                                                        <td title="Seconds: {{ team.toiSeconds }}">{{ team.toi }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane text-center" id="graphview">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Graph View</h3>
                                    <p>{{ form|format_form_state }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-3 col-sm-12">
                                                <div class="form-group">
                                                    X-Axis
                                                    <select class="form-control input-md" id="xaxis">
                                                        <option value="gf" selected>GF%</option>
                                                        <option value="sf">SF%</option>
                                                        <option value="msf">MSF%</option>
                                                        <option value="bsf">BSF%</option>
                                                        <option value="cf">CF%</option>
                                                        <option value="sc">SCF%</option>
                                                        <option value="hsc">HSCF%</option>
                                                        <option value="zso">ZSO%</option>
                                                        <option value="pn">PN%</option>
                                                        <option value="fo_w">FO_W%</option>
                                                        <option value="hit">Hit%</option>
                                                        <option value="toi">TOI/Gm</option>
                                                    </select>
                                                <span class="material-input"></span></div>
                                            </div>
                                            <div class="col-md-3 col-sm-12">
                                                <div class="form-group">
                                                    Y-Axis
                                                    <select class="form-control input-md" id="yaxis">
                                                        <option value="gf">GF%</option>
                                                        <option value="sf" selected>SF%</option>
                                                        <option value="msf">MSF%</option>
                                                        <option value="bsf">BSF%</option>
                                                        <option value="cf">CF%</option>
                                                        <option value="sc">SCF%</option>
                                                        <option value="hsc">HSCF%</option>
                                                        <option value="zso">ZSO%</option>
                                                        <option value="pn">PN%</option>
                                                        <option value="fo_w">FO_W%</option>
                                                        <option value="hit">Hit%</option>
                                                        <option value="toi">TOI/Gm</option>
                                                    </select>
                                                <span class="material-input"></span></div>
                                            </div>
                                            <div class="col-md-3 col-sm-12">
                                                <div class="form-group">
                                                    Radius
                                                    <select class="form-control input-md" id="raxis">
                                                        <option value="gf">GF%</option>
                                                        <option value="sf">SF%</option>
                                                        <option value="msf" selected>MSF%</option>
                                                        <option value="bsf">BSF%</option>
                                                        <option value="cf">CF%</option>
                                                        <option value="sc">SCF%</option>
                                                        <option value="hsc">HSCF%</option>
                                                        <option value="zso">ZSO%</option>
                                                        <option value="pn">PN%</option>
                                                        <option value="fo_w">FO_W%</option>
                                                        <option value="hit">Hit%</option>
                                                        <option value="toi">TOI/Gm</option>
                                                    </select>
                                                <span class="material-input"></span></div>
                                            </div>
                                            <div class="col-md-3 col-sm-12">
                                                <div class="form-group">
                                                    <button id="refreshGraph" class="btn btn-primary">Refresh<div class="ripple-container"></div></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-xs btn-primary" id="comparisonButton"><i class="fa fa-floppy-o"></i> Save</button>
                                    <div id="comparisonGraph"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tableview">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-center">Active Roster</h3>
                                    <table class="table full-width">
                                      <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Number</th>
                                            <th>Position</th>
                                            <th>Age</th>
                                            <th>Height</th>
                                            <th>Weight</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for player in players %}
                                            {% if player.rosterStatus == 'Y' %}
                                              <tr>
                                                <td><a href="/players/skaters/{{ player.id }}">{{ player.fullName }}</a></td>
                                                <td>{{ player.primaryNumber }}</td>
                                                <td>{{ player.primaryPositionCode|player_position }}</td>
                                                <td>{{ player.age }}</td>
                                                <td>{{ player.height }}</td>
                                                <td>{{ player.weight }}</td>
                                              </tr>
                                            {% endif %}
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-center">Injured Reserve Roster</h3>
                                    <table class="table full-width">
                                      <thead>
                                        <tr>
                                          <th>Name</th>
                                          <th>Number</th>
                                          <th>Position</th>
                                          <th>Age</th>
                                          <th>Height</th>
                                          <th>Weight</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for player in players %}
                                            {% if player.rosterStatus == 'I' %}
                                              <tr>
                                                <td><a href="/players/skaters/{{ player.id }}">{{ player.fullName }}</a></td>
                                                <td>{{ player.primaryNumber }}</td>
                                                <td>{{ player.primaryPositionCode|player_position }}</td>
                                                <td>{{ player.age }}</td>
                                                <td>{{ player.height }}</td>
                                                <td>{{ player.weight }}</td>
                                              </tr>
                                            {% endif %}
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
        </div>


    </div>
<div id="canvasArea">
    <canvas style="display:none;" id="canvas" width="1000px" height="700px"></canvas>
</div>
{% endblock %}
{% block page_js %}
<script src="{% static "js/datatables.min.js" %}"></script>
<script src="{% static "js/d3.min.js" %}"></script>
<script src="{% static "js/d3.tip.js" %}"></script>
<script src="{% static "js/teamColors.js" %}"></script>
<script src="{% static "js/graphs/zoomchart.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/rgbcolor.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/StackBlur.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/canvg.js" %}"></script>
<script src="{% static "js/graphs/savePNG.js" %}"></script>
<script>
    var data = JSON.parse("{{ statsJson | escapejs }}");
    $(document).ready(function() {

        $('#teamstats').DataTable({
            "bPaginate": true,
            "order": [
                [0, "desc"]
            ],
            "pageLength": 50,
            scrollX: true,
            "fixedColumns": {
                leftColumns: 1,
            },
            dom: "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>" +
                "<'col-sm-12'B>"
            ,
            buttons: [{
                extend: 'copy',
                className: 'btn-sm btn-primary',
            }, {
                extend: 'csv',
                className: 'btn-sm btn-primary',
            }, {
                extend: 'excel',
                className: 'btn-sm btn-primary',
            }]
        });

        var teamData = [];
        for (team in data) {
            for (season in data[team]) {
                data[team][season].season = season;
                data[team][season].team_id = team;
                data[team][season].team = data[team][season].abbreviation;
                data[team][season].fullName = season;//using season here for display
                data[team][season].toi = Math.floor(data[team][season].toiSeconds / 60);
                teamData.push(data[team][season]);
            };
        };

        var xCat = $('#xaxis').find(":selected").val(),
            yCat = $('#yaxis').find(":selected").val(),
            rCat = $('#raxis').find(":selected").val();
        var xText = $('#xaxis').find(":selected").text(),
            yText = $('#yaxis').find(":selected").text(),
            rText = $('#raxis').find(":selected").text();
        zoomchart('#comparisonGraph', "#teamTabContent", teamData, xCat, yCat, rCat, xText, yText, rText);
        savePNG("#comparisonButton", "#comparisonGraph");
        $('#refreshGraph').click(function(e) {
            e.preventDefault();
            var xCat = $('#xaxis').find(":selected").val(),
                yCat = $('#yaxis').find(":selected").val(),
                rCat = $('#raxis').find(":selected").val();
            var xText = $('#xaxis').find(":selected").text(),
                yText = $('#yaxis').find(":selected").text(),
                rText = $('#raxis').find(":selected").text();
            zoomchart('#comparisonGraph', "#teamTabContent", teamData, xCat, yCat, rCat, xText, yText, rText);
        });
    });
</script>
{% endblock %}
