{% extends "wrappers/wrapper.html" %}
{% load website_extras %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block page_css %}
<link href="{% static "css/datatables.min.css" %}" rel="stylesheet">
<link href="{% static "css/datatables-fontawesome.css" %}" rel="stylesheet">
<!--[if !IE]><!-->
<style>

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    tr:nth-of-type(odd) {
        background: #eee;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        min-height: 20px;
        text-align: left !important;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */

    td:nth-of-type(1):before { content: "Team"; }
    td:nth-of-type(2):before { content: "Season"; }
    td:nth-of-type(3):before { content: "Games"; }
    td:nth-of-type(4):before { content: "GF%"; }
    td:nth-of-type(5):before { content: "SF%"; }
    td:nth-of-type(6):before { content: "MSF%"; }
    td:nth-of-type(7):before { content: "BSF%"; }
    td:nth-of-type(8):before { content: "CF%"; }
    td:nth-of-type(9):before { content: "SCF%"; }
    td:nth-of-type(10):before { content: "HSCF%"; }
    td:nth-of-type(11):before { content: "ZSO%"; }
    td:nth-of-type(12):before { content: "PN%"; }
    td:nth-of-type(13):before { content: "FO_W%"; }
    td:nth-of-type(14):before { content: "Hit%"; }
    td:nth-of-type(15):before { content: "TOI/Gm"; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body {
        padding: 0;
        margin: 0;}
    }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        width: 495px;
    }
}

</style>
<!--<![endif]-->
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well bs-component">
                                <h4 class="filter-options" data-toggle="collapse" data-target="#gameFilter">
                                Filter Options
                                <img class="filter-collapsed" height="20" width="20" style="float: right"src="{% with 'img/arrow.svg' as image_static %}{% static image_static %} {% endwith %}">
                                </h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="gameFilter" class="collapse" action="" method="GET">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        {{ form.teamstrengths.label }}
                                                        {{ form.teamstrengths }}
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        {{ form.scoresituation.label }}
                                                        {{ form.scoresituation }}
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        {{ form.period.label }}
                                                        {{ form.period }}
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        {{ form.season.label }}
                                                        {{ form.season }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        {{ form.teams.label }}
                                                        {{ form.teams }}
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        {{ form.venues.label }}
                                                        {{ form.venues }}
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        <label for="id_date_start">Start Date:</label>
                                                        {% render_field form.startDate class+="form-control datepicker" %}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="id_date_start">End Date:</label>
                                                        {% render_field form.endDate class+="form-control datepicker" %}
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        <label for="id_game_type">Game Types:</label>
                                                        {% for g, glabel in form.gameTypes.field.choices %}
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="gameTypes" id="id_gameTypes_{{ forloop.counter }}" value="{{ g }}" {% if g in form.gameTypes.value %}checked{% endif %}>
                                                                {{ glabel }}
                                                            </label>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <button class="btn btn-primary" type="submit">Submit<div class="ripple-container"></div></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-nav-tabs">
                    <div class="header header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#tableview" data-toggle="tab" aria-expanded="true">
                                            Table View
                                        <div class="ripple-container"></div></a>
                                    </li>
                                    <li class="">
                                        <a href="#graphview" data-toggle="tab" aria-expanded="false">
                                            Graph View
                                        <div class="ripple-container"></div></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="teamsTabContent" class="content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tableview">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table id="teamstats" class="table full-width">
                                                <thead>
                                                    <tr>
                                                        <th title="Team">Team</th>
                                                        <th title="Season">Season</th>
                                                        <th title="Games">Games</th>
                                                        <th title="On-Ice Goals For Percentage">GF%</th>
                                                        <th title="On-Ice Shots-On-Goal For Percentage">SF%</th>
                                                        <th title="Missed Shots For Percentage">MSF%</th>
                                                        <th title="Blocked Shots Percentage">BSF%</th>
                                                        <th title="Corsi For Percentage">CF%</th>
                                                        <th title="On-Ice Scoring Chances For Percentage">SCF%</th>
                                                        <th title="On-Ice High-Danger Scoring Chances For Percentage">HSCF%</th>
                                                        <th title="Offensive Zone Starts Percentage">ZSO%</th>
                                                        <th title="Penalties Percentage">PN%</th>
                                                        <th title="Faceoffs Won Percentage">FO_W%</th>
                                                        <th title="Hit Percentage">Hit%</th>
                                                        <th title="Time On Ice">TOI/Gm</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for teamid, seasons in stats.items %}
                                                        {% for season, team in seasons.items %}
                                                        <tr>
                                                            <td title="Team"><a href='/teams/{{ team.teamName.split|join:"-" }}'>{{ team.teamName }}</a></td>
                                                            <td title="Season">{{ season }}</td>
                                                            <td title="Games">{{ team.games }}</td>
                                                            <td title="On-Ice Goals For Percentage">{{ team.gf }}</td>
                                                            <td title="On-Ice Shots-On-Goal For Percentage">{{ team.sf }}</td>
                                                            <td title="Missed Shots For Percentage">{{ team.msf }}</td>
                                                            <td title="Blocked Shots Percentage">{{ team.bsf }}</td>
                                                            <td title="Corsi For Percentage">{{ team.cf }}</td>
                                                            <td title="On-Ice Scoring Chances For Percentage">{{ team.sc }}</td>
                                                            <td title="On-Ice High-Danger Scoring Chances For Percentage">{{ team.hsc }}</td>
                                                            <td title="Offensive Zone Starts Percentage">{{ team.zso }}</td>
                                                            <td title="Penalties Percentage">{{ team.pn }}</td>
                                                            <td title="Faceoffs Won Percentage">{{ team.fo_w }}</td>
                                                            <td title="Hit Percentage">{{ team.hit }}</td>
                                                            <td title="Time On Ice">{{ team.toi }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane text-center" id="graphview">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-5 col-sm-12">
                                                    <div class="form-group">
                                                        X-Axis
                                                        <select class="form-control input-md" id="xaxis">
                                                            <option value="gf">GF%</option>
                                                            <option value="sf">SF%</option>
                                                            <option value="msf">MSF%</option>
                                                            <option value="bsf">BSF%</option>
                                                            <option value="cf">CF%</option>
                                                            <option value="sc">SCF%</option>
                                                            <option value="hsc">HSCF%</option>
                                                            <option value="zso">ZSO%</option>
                                                            <option value="pn">PN%</option>
                                                            <option value="fo_w">FO_W%</option>
                                                            <option value="hit">Hit%</option>
                                                            <option value="toi">TOI/Gm</option>
                                                        </select>
                                                    <span class="material-input"></span></div>
                                                </div>
                                                <div class="col-md-5 col-sm-12">
                                                    <div class="form-group">
                                                        Y-Axis
                                                        <select class="form-control input-md" id="yaxis">
                                                            <option value="gf">GF%</option>
                                                            <option value="sf" selected>SF%</option>
                                                            <option value="msf">MSF%</option>
                                                            <option value="bsf">BSF%</option>
                                                            <option value="cf">CF%</option>
                                                            <option value="sc">SCF%</option>
                                                            <option value="hsc">HSCF%</option>
                                                            <option value="zso">ZSO%</option>
                                                            <option value="pn">PN%</option>
                                                            <option value="fo_w">FO_W%</option>
                                                            <option value="hit">Hit%</option>
                                                            <option value="toi">TOI/Gm</option>
                                                        </select>
                                                    <span class="material-input"></span></div>
                                                </div>
                                                <div class="col-md-2 col-sm-12">
                                                    <div class="form-group">
                                                        <button id="refreshGraph" class="btn btn-primary">Refresh<div class="ripple-container"></div></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-xs btn-primary" id="teamComparisonButton"><i class="fa fa-floppy-o"></i> Save</button>
                                        <div id="teamComparison"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="canvasArea">
        <canvas style="display:none;" id="canvas" width="1000px" height="700px"></canvas>
    </div>
{% endblock %}
{% block page_js %}
<script src="{% static "js/datatables.min.js" %}"></script>
<script src="{% static "js/d3.min.js" %}"></script>
<script src="{% static "js/teamColors.js" %}"></script>
<script src="{% static "js/graphs/teamCompare.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/rgbcolor.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/StackBlur.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/canvg.js" %}"></script>
<script src="{% static "js/graphs/savePNG.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script>
        $(document).ready(function() {
            $('#teamstats').DataTable({
                "bPaginate": false,
                "order": [
                    [1, "desc"]
                ],
                scrollX: true,
                "fixedColumns": {
                    leftColumns: 1,
                },
                dom: 'lfrtiBp',
                buttons: [{
                    extend: 'copy',
                    className: 'btn-sm btn-primary',
                }, {
                    extend: 'csv',
                    className: 'btn-sm btn-primary',
                }, {
                    extend: 'excel',
                    className: 'btn-sm btn-primary',
                }]
            });

            var data = JSON.parse("{{ statsJson | escapejs }}");
            teamCompare('#teamComparison', "#teamsTabContent", "gf", "sf", data);
            savePNG("#teamComparisonButton", "#teamComparison");

            $('#refreshGraph').click(function(e) {
                e.preventDefault();
                var x = $('#xaxis').val();
                var y = $('#yaxis').val();
                teamCompare('#teamComparison', "#teamsTabContent", x, y, data);
            });

        });
</script>
{% endblock %}
