{% load staticfiles %}
<!-- BEGIN SCORE CAROUSEL -->

<div style="width:80%;margin:auto;">
    <div id="gamesCarousel" class="autoplay">
      
    </div>
</div>

<script src="{% static "slick/slick.min.js" %}"></script>
<script>
    $(document).ready(function() {
        updateData("today");
    })

    function updateData(dateval) {
        var url = "/games_header/" + dateval;
        $.ajax({
            url: url,
            success: function(result) {
                if (result["games"].length > 0) {
                    var divs = [];
                    var live = false;
                    for (var gameid in result["games"]) {
                        var game = result["games"][gameid];
                        var gameText = "";
                        var gameData = {};
                        gameData["gameId"] = game["gameId"];
                        var awayTeam = "<img class=\"pull-left\" height=\"17\" width=\"17\" src='{% with 'img/team/' as image_static %}{% static image_static %}{% endwith %}" + game["awayTeamAbbreviation"] + ".png'>" + game["awayTeamAbbreviation"];
                        var homeTeam = "<img class=\"pull-right\" height=\"17\" width=\"17\" src='{% with 'img/team/' as image_static %}{% static image_static %}{% endwith %}" + game["homeTeamAbbreviation"] + ".png'>" + game["homeTeamAbbreviation"];
                        gameText = game["dateTime"] + "<br /><div style=\"width:80%;margin:auto;\"><div class=\"clearfix\">" + awayTeam + " " + game["awayScore"] + " - " + game["homeScore"] + " " + homeTeam + "</div></div>";
                        if (game["live"]) {
                            gameText += "<span class=\"label label-danger\">Live</span>";
                            live = true;
                        }
                        else if (game["finished"])
                            gameText += "<span class=\"label label-success\">Final</span>";
                        else
                            gameText += "<span class=\"label label-primary\">Scheduled</span>";
                        gameData["text"] = gameText
                        divs.push(gameData);
                    }
                    var carousel = $("#gamesCarousel");
                    for (var divid in divs) {
                        var div = divs[divid]["text"];
                        var hasGamePage = divs[divid]["hasGamePage"];
                        carousel.append("<a class=\"card card-carousel\" href=\"/games/" + divs[divid]["gameId"] + "\"><div><p style=\"line-height:100%;\">" + div + "</p></div></a>");
                    }
                    $('.autoplay').slick({
                        arrows: true,
                        slidesToShow: 7,
                        slidesToScroll: 1,
                        autoplay: true,
                        autoplaySpeed: 2000,
                        infinite: true,
                        responsive: [
                            {
                                breakpoint: 1024,
                                settings: {
                                    slidesToShow: 3,
                                    slidesToScroll: 3
                              }
                            },
                            {
                                breakpoint: 600,
                                settings: {
                                    slidesToShow: 2,
                                    slidesToScroll: 2
                              }
                            },
                            {
                                breakpoint: 480,
                                settings: {
                                    slidesToShow: 1,
                                    slidesToScroll: 1
                              }
                            }
                        ]
                    });
                    if (live) {
                        var update_time = 60050;
                    } else {
                        var update_time = 60000 * 5;
                    }
                    setTimeout(function() {
                        $("#gamesCarousel").empty();
                        $('.autoplay').slick('unslick');
                        updateData("today");
                    }, 60050);
                }
            }
        })
    }
</script>
<!-- END SCORE CAROUSEL -->