.vagrant
*.pyc
*.pyc
*~
api_urls.py
*cred.py
.bundle
.idea
*sendemail.py
*.queries.py
statsenforcer/team/queries.py
statsenforcer/scripts/queries.py
statsenforcer/team/teamqueries.py
statsenforcer/website/indexqueries.py
statsenforcer/player/playerqueries.py
statsenforcer/scripts/preview/2016/20475/47534903.jpeg
*.jpeg
statsenforcer/scripts/output.json
static/min/*
.DS_Store
