.vagrant
*.pyc
*.pyc
*~
api_urls.py
*cred.py
.bundle
.idea
*sendemail.py
*.queries.py
statsenforcer/team/queries.py
statsenforcer/scripts/queries.py
statsenforcer/team/teamqueries.py
statsenforcer/website/indexqueries.py
