{% extends "wrappers/wrapper.html" %}
{% load website_extras %}
{% load pbp_extras %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Goalies | First Line Stats{% endblock %}
{% block page_css %}
<link href="{% static "css/datatables.min.css" %}" rel="stylesheet">
<link href="{% static "css/datatables-fontawesome.css" %}" rel="stylesheet">
<link href="{% static "css/fixedColumns.bootstrap.min.css" %}" rel="stylesheet">
{% endblock %}
{% block meta %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="en" />
<meta property="og:title" content="Goalie Stats on First Line Stats" />
<meta itemprop="name" content="Goalie Advanced Stats and Graphs on First Line Stats" />
<meta property="og:type" content="website" />
<meta name="keywords" content="hockey, advanced stats, graphs, advanced statistics, fancy stats, fancystats, hockey stats, hockey statistics, firstlinestats, First Line Stats, playoffs, standings, players" />
<meta name="description" content="Get advanced stats and graphs for goalies on firstlinestats.com. First Line Stats provides advanced analytics and charts for hockey games and players." />
<meta property="og:description" content="Get advanced stats and graphs for goalies on firstlinestats.com. First Line Stats provides advanced analytics and charts for hockey games and players." />
<meta property="description" content="Get advanced stats and graphs for goalies on firstlinestats.com. First Line Stats provides advanced analytics and charts for hockey games and players." />
<meta name="locale" content="en" />
<meta name="lang" content="en_US" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="well bs-component">
                    <h4 class="filter-options" data-toggle="collapse" data-target="#gameFilter">
                    Filter Options
                    <img class="filter-collapsed" height="20" width="20" style="float: right"src="{% with 'img/arrow.svg' as image_static %}{% static image_static %} {% endwith %}">
                    </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <form id="gameFilter" class="collapse" action="" method="GET">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            {{ form.teamstrengths.label }}
                                            {{ form.teamstrengths }}
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            {{ form.scoresituation.label }}
                                            {{ form.scoresituation }}
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            {{ form.period.label }}
                                            {{ form.period }}
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            {{ form.season.label }}
                                            {{ form.season }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            {{ form.teams.label }}
                                            {{ form.teams }}
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            {{ form.venues.label }}
                                            {{ form.venues }}
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label for="id_date_start">Start Date:</label>
                                            {% render_field form.startDate class+="form-control datepicker" %}
                                        </div>
                                        <div class="form-group">
                                            <label for="id_date_start">End Date:</label>
                                            {% render_field form.endDate class+="form-control datepicker" %}
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label for="id_game_type">Game Types:</label>
                                            {% for g, glabel in form.gameTypes.field.choices %}
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="gameTypes" id="id_gameTypes_{{ forloop.counter }}" value="{{ g }}" {% if g in form.gameTypes.value %}checked{% endif %}>
                                                    {{ glabel }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="id_min_toi">Minimum Average Time on Ice (minutes):</label>
                                            {% render_field form.min_toi %}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="id_max_toi">Maximum Average Time on Ice (minutes):</label>
                                            {% render_field form.max_toi %}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="id_games_played">Minimum Number of Games Played:</label>
                                            {% render_field form.games_played %}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Submit<div class="ripple-container"></div></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-nav-tabs">
        <div class="header header-primary">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active">
                            <a href="#statview" data-toggle="tab" aria-expanded="false">
                                Stats By Season
                            <div class="ripple-container"></div></a>
                        </li>
                        <li class="">
                            <a href="#graphview" data-toggle="tab" aria-expanded="false">
                                Graph View
                            <div class="ripple-container"></div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="teamTabContent" class="content">
            <div class="content">
                <div class="tab-content">
                    <div class="tab-pane active" id="statview">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <h3>Goalie Stats</h3>
                                <p>{{ form|format_form_state }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="teamstats" class="table full-width table-condensed table-hover table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Player</th>
                                                <th class="text-center">Season</th>
                                                <th class="text-center">Games</th>
                                                <th class="text-center" title="Average Time On Ice">TOI/Gm</th>
                                                <th class="text-center">Goals Allowed</th>
                                                <th class="text-center">Saves</th>
                                                <th class="text-center" title="Save Percentage">Sv%</th>
                                                <th class="text-center" title="Adjusted Save Percentage">AdjSv%</th>
                                                <th class="text-center" title="Low-Danger Goals">GL</th>
                                                <th class="text-center" title="Low-Danger Saves">SL</th>
                                                <th class="text-center" title="Low-Danger Save Percentage">LSv%</th>
                                                <th class="text-center" title="Medium-Danger Goals">GM</th>
                                                <th class="text-center" title="Medium-Danger Saves">SM</th>
                                                <th class="text-center" title="Medium-Danger Save Percentage">MSv%</th>
                                                <th class="text-center" title="High-Danger Goals">GH</th>
                                                <th class="text-center" title="High-Danger Saves">SH</th>
                                                <th class="text-center" title="High-Danger Save Percentage">HSv%</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for player in stats %}
                                                <tr>
                                                    <td class="text-center"><a href="/players/goalies/{{ player.player_id }}">{{ player.fullName }}</a></td>
                                                    <td class="text-center">{{ player.season }}</td>
                                                    <td class="text-center">{{ player.games }}</td>
                                                    <td class="text-center" title="">{{ player.toi }}</td>
                                                    <td class="text-center">{{ player.goals }}</td>
                                                    <td class="text-center">{{ player.saves }}</td>
                                                    <td class="text-center">{{ player.save_percent }}</td>
                                                    <td class="text-center">{{ player.adj_save_percent }}</td>
                                                    <td class="text-center">{{ player.goalsLow }}</td>
                                                    <td class="text-center">{{ player.savesLow }}</td>
                                                    <td class="text-center">{{ player.low_save_percent }}</td>
                                                    <td class="text-center">{{ player.goalsMedium }}</td>
                                                    <td class="text-center">{{ player.savesMedium }}</td>
                                                    <td class="text-center">{{ player.medium_save_percent }}</td>
                                                    <td class="text-center">{{ player.goalsHigh }}</td>
                                                    <td class="text-center">{{ player.savesHigh }}</td>
                                                    <td class="text-center">{{ player.high_save_percent }}</td>
                                                </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane text-center" id="graphview">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Graph View</h3>
                                <p>{{ form|format_form_state }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                X-Axis
                                                <select class="form-control input-md" id="xaxis">
                                                    <option value="games" selected>Games Played</option>
                                                    <option value="toiSeconds">Average Time On Ice</option>
                                                    <option value="goals">Goals Allowed</option>
                                                    <option value="saves">Saves</option>
                                                    <option value="save_percent">Save Percentage</option>
                                                    <option value="adj_save_percent">Adjusted Save Percentage</option>
                                                    <option value="goalsLow">Goals (Low Danger)</option>
                                                    <option value="savesLow">Saves (Low Danger)</option>
                                                    <option value="low_save_percent">Save Percentage (Low Danger)</option>
                                                    <option value="goalsMedium">Goals (Medium Danger)</option>
                                                    <option value="savesMedium">Saves (Medium Danger)</option>
                                                    <option value="medium_save_percent">Save Percentage (Medium Danger)</option>
                                                    <option value="goalsHigh">Goals (High Danger)</option>
                                                    <option value="savesHigh">Saves (High Danger)</option>
                                                    <option value="high_save_percent">Save Percentage (High Danger)</option>
                                                </select>
                                            <span class="material-input"></span></div>
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                Y-Axis
                                                <select class="form-control input-md" id="yaxis">
                                                    <option value="games">Games Played</option>
                                                    <option value="toiSeconds">Average Time On Ice</option>
                                                    <option value="goals">Goals Allowed</option>
                                                    <option value="saves">Saves</option>
                                                    <option value="save_percent">Save Percentage</option>
                                                    <option value="adj_save_percent" selected>Adjusted Save Percentage</option>
                                                    <option value="goalsLow">Goals (Low Danger)</option>
                                                    <option value="savesLow">Saves (Low Danger)</option>
                                                    <option value="low_save_percent">Save Percentage (Low Danger)</option>
                                                    <option value="goalsMedium">Goals (Medium Danger)</option>
                                                    <option value="savesMedium">Saves (Medium Danger)</option>
                                                    <option value="medium_save_percent">Save Percentage (Medium Danger)</option>
                                                    <option value="goalsHigh">Goals (High Danger)</option>
                                                    <option value="savesHigh">Saves (High Danger)</option>
                                                    <option value="high_save_percent">Save Percentage (High Danger)</option>
                                                </select>
                                            <span class="material-input"></span></div>
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                Radius
                                                <select class="form-control input-md" id="raxis">
                                                    <option value="games">Games Played</option>
                                                    <option value="toiSeconds">Average Time On Ice</option>
                                                    <option value="goals">Goals Allowed</option>
                                                    <option value="saves">Saves</option>
                                                    <option value="save_percent">Save Percentage</option>
                                                    <option value="adj_save_percent" selected>Adjusted Save Percentage</option>
                                                    <option value="goalsLow">Goals (Low Danger)</option>
                                                    <option value="savesLow">Saves (Low Danger)</option>
                                                    <option value="low_save_percent">Save Percentage (Low Danger)</option>
                                                    <option value="goalsMedium">Goals (Medium Danger)</option>
                                                    <option value="savesMedium">Saves (Medium Danger)</option>
                                                    <option value="medium_save_percent">Save Percentage (Medium Danger)</option>
                                                    <option value="goalsHigh">Goals (High Danger)</option>
                                                    <option value="savesHigh">Saves (High Danger)</option>
                                                    <option value="high_save_percent">Save Percentage (High Danger)</option>
                                                </select>
                                            <span class="material-input"></span></div>
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <button id="refreshGraph" class="btn btn-primary">Refresh<div class="ripple-container"></div></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-xs btn-primary" id="playerComparisonButton"><i class="fa fa-floppy-o"></i> Save</button>
                                <div id="playerComparison"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="canvasArea">
    <canvas style="display:none;" id="canvas" width="1000px" height="700px"></canvas>
</div>
{% endblock %}
{% block page_js %}
<script src="{% static "js/datatables.min.js" %}"></script>
<script src="{% static "js/d3.min.js" %}"></script>
<script src="{% static "js/teamColors.js" %}"></script>
<script src="{% static "js/d3.tip.js" %}"></script>
<script src="{% static "js/graphs/zoomchart.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/rgbcolor.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/StackBlur.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/canvg.js" %}"></script>
<script src="{% static "js/graphs/savePNG.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script>
    var data = JSON.parse("{{ statsJson|escapejs }}");
    console.log(data);

    $(document).ready(function() {

        $('#teamstats').DataTable({
            "bPaginate": true,
            "order": [
                [2, "desc"]
            ],
            "pageLength": 25,
            scrollX: true,
            "fixedColumns": {
                leftColumns: 1,
            },
            dom: "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>" +
                "<'col-sm-12'B>",
            buttons: [{
                extend: 'copy',
                className: 'btn-sm btn-primary',
            }, {
                extend: 'csv',
                className: 'btn-sm btn-primary',
            }, {
                extend: 'excel',
                className: 'btn-sm btn-primary',
            }]
        });

        var xCat = $('#xaxis').find(":selected").val(),
            yCat = $('#yaxis').find(":selected").val(),
            rCat = $('#raxis').find(":selected").val();
        var xText = $('#xaxis').find(":selected").text(),
            yText = $('#yaxis').find(":selected").text(),
            rText = $('#raxis').find(":selected").text();
        zoomchart('#playerComparison', "#teamTabContent", data, xCat, yCat, rCat, xText, yText, rText, "Player", "player_id");
        savePNG("#playerComparisonButton", "#playerComparison");
    });

    $('#refreshGraph').click(function(e) {
        e.preventDefault()
        var xCat = $('#xaxis').find(":selected").val(),
            yCat = $('#yaxis').find(":selected").val(),
            rCat = $('#raxis').find(":selected").val();
        var xText = $('#xaxis').find(":selected").text(),
            yText = $('#yaxis').find(":selected").text(),
            rText = $('#raxis').find(":selected").text();
        zoomchart('#playerComparison', "#teamTabContent", data, xCat, yCat, rCat, xText, yText, rText, "Player", "player_id");
    });
</script>
{% endblock %}
