{% extends "wrappers/wrapper.html" %}
{% load website_extras %}
{% load pbp_extras %}
{% load staticfiles %}
{% block title %}{{ player.fullName }}{% endblock %}
{% block meta %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="en" />
<meta property="og:title" content="{{ player.fullName }} Stats on First Line Stats" />
<meta itemprop="name" content="{{ player.fullName }} Advanced Stats on First Line Stats" />
<meta property="og:type" content="website" />
<meta name="keywords" content="hockey, advanced stats, graphs, advanced statistics, fancy stats, fancystats, hockey stats, hockey statistics, firstlinestats, First Line Stats, {{ player.fullName }}, playoffs, standings, players" />
<meta name="description" content="Get advanced stats and graphs for {{ player.fullName }} on firstlinestats.com. First Line Stats provides advanced analytics and charts for hockey games and players." />
<meta property="og:description" content="Get advanced stats and graphs for {{ player.fullName }} on firstlinestats.com. First Line Stats provides advanced analytics and charts for hockey games and players." />
<meta property="description" content="Get advanced stats and graphs for {{ player.fullName }} on firstlinestats.com. First Line Stats provides advanced analytics and charts for hockey games and players." />
<meta name="locale" content="en" />
<meta name="lang" content="en_US" />
{% endblock %}
{% block page_css %}
<link href="{% static "css/datatables.min.css" %}" rel="stylesheet">
<link href="{% static "css/datatables-fontawesome.css" %}" rel="stylesheet">
<link href="{% static "css/fixedColumns.bootstrap.min.css" %}" rel="stylesheet">
<style>
    rect {
      fill: transparent;
      shape-rendering: crispEdges;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: rgba(0, 0, 0, 0.1);
      shape-rendering: crispEdges;
    }

    .axisLine {
      fill: none;
      shape-rendering: crispEdges;
      stroke: rgba(0, 0, 0, 0.5);
      stroke-width: 2px;
    }

    .dot {
      fill-opacity: .5;
    }

    .d3-tip {
      line-height: 1;
      font-weight: bold;
      padding: 12px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
    }

    div.tooltip {
        position: absolute;
        text-align: center;
        width: 100px;
        height: 30px;
        padding: 2px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                 <div class="col-md-12">
                                    <h2>{{ player.fullName }}</h2>
                                    <h4>{{ player.primaryPositionCode|player_position }}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <h5>Age: {{ player.age }} Height: {{ player.height }} Weight: {{ player.weight }}</h5>
                                </div>
                                <div class="col-md-4">
                                     <h5></h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="well bs-component">
                    <h4 class="filter-options" data-toggle="collapse" data-target="#gameFilter">
                    Filter Options
                    <img class="filter-collapsed" height="20" width="20" style="float: right"src="{% with 'img/arrow.svg' as image_static %}{% static image_static %} {% endwith %}">
                    </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <form id="gameFilter" class="collapse" action="" method="GET">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            {{ form.teamstrengths.label }}
                                            {{ form.teamstrengths }}
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            {{ form.scoresituation.label }}
                                            {{ form.scoresituation }}
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            {{ form.period.label }}
                                            {{ form.period }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Submit<div class="ripple-container"></div></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-nav-tabs">
        <div class="header header-primary">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active">
                            <a href="#statview" data-toggle="tab" aria-expanded="false">
                                Stats By Season
                            <div class="ripple-container"></div></a>
                        </li>
                        <li class="">
                            <a href="#graphview" data-toggle="tab" aria-expanded="false">
                                Graph View
                            <div class="ripple-container"></div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="teamTabContent" class="content">
            <div class="content">
                <div class="tab-content">
                    <div class="tab-pane active" id="statview">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <h3>Player Stats</h3>
                                <p>{{ form|format_form_state }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="teamstats" class="table full-width table-condensed table-hover table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center" title="Season">Season</th>
                                                <th class="text-center" title="Games Played">GP</th>
                                                <th class="text-center" title="Average Time On Ice">TOI/Gm</th>
                                                <th class="text-center" title="Goals">Goals</th>
                                                <th class="text-center" title="Goals For per 60 minutes">GF60</th>
                                                <th class="text-center" title="Primary Assists">A1</th>
                                                <th class="text-center" title="Assist1 per 60 minutes">A160</th>
                                                <th class="text-center" title="Secondary Assists">A2</th>
                                                <th class="text-center" title="Assists per 60 minutes">A60</th>
                                                <th class="text-center" title="Points">P</th>
                                                <th class="text-center" title="Points For per 60 minutes">PF60</th>
                                                <th class="text-center" title="Corsi For Percentage">CF%</th>
                                                <th class="text-center" title="Corsi For per 60">CF60</th>
                                                <th class="text-center" title="Corsi Against per 60">CA60</th>
                                                <th class="text-center" title="Corsi Shooting Percentage">CSh%</th>
                                                <th class="text-center" title="Corsi Save Percentage">CSv%</th>
                                                <th class="text-center" title="Fenwick For Percentage">FF%</th>
                                                <th class="text-center" title="Fenwick For per 60">FF60</th>
                                                <th class="text-center" title="Fenwick Against per 60">FA60</th>
                                                <th class="text-center" title="Fenwick Shooting Percentage">FSh%</th>
                                                <th class="text-center" title="Fenwick Save Percentage">FSv%</th>
                                                <th class="text-center" title="Goals For Percentage">GF%</th>
                                                <th class="text-center" title="Scoring Chance Percentage">SCF%</th>
                                                <th class="text-center" title="High Danger Scoring Chance Percentage">HSCF%</th>
                                                <th class="text-center" title="Faceoff Percentage">FO%</th>
                                                <th class="text-center" title="Offensive Zone Start Percentage">ZSO%</th>
                                                <th class="text-center" title="Hit Percentage">Hit%</th>
                                                <th class="text-center" title="Penalty Percentage">Pen%</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for playerid, seasons in stats.items %}
                                                {% for season, player in seasons.items %}
                                            <tr>
                                                <td class="text-center" title="">{{ season }}</td>
                                                <td class="text-center" title="">{{ player.games }}</td>
                                                <td class="text-center" title="">{{ player.toi }}</td>
                                                <td class="text-center" title="">{{ player.goals }}</td>
                                                <td class="text-center" title="">{{ player.gf60 }}</td>
                                                <td class="text-center" title="">{{ player.assists1 }}</td>
                                                <td class="text-center" title="">{{ player.a160 }}</td>
                                                <td class="text-center" title="">{{ player.assists2 }}</td>
                                                <td class="text-center" title="">{{ player.a60 }}</td>
                                                <td class="text-center" title="">{{ player.points }}</td>
                                                <td class="text-center" title="">{{ player.p60 }}</td>
                                                <td class="text-center" title="{{ player.corsiFor }} / {{ player.corsiAgainst }}">{{ player.cf }}</td>
                                                <td class="text-center" title="CF: {{ player.corsiFor }} toi: {{ player.toiSeconds }}">{{ player.cf60 }}</td>
                                                <td class="text-center" title="CA: {{ player.corsiAgainst }} toi: {{ player.toiSeconds }}">{{ player.ca60 }}</td>
                                                <td class="text-center" title="">{{ player.csh }}</td>
                                                <td class="text-center" title="">{{ player.csa }}</td>
                                                <td class="text-center" title="{{ player.fenwickFor }} / {{ player.fenwickAgainst }}">{{ player.ff }}</td>
                                                <td class="text-center" title="FF: {{ player.fenwickFor }} toi: {{ player.toiSeconds }}">{{ player.ff60 }}</td>
                                                <td class="text-center" title="FA: {{ player.fenwickAgainst }} toi: {{ player.toiSeconds }}">{{ player.fa60 }}</td>
                                                <td class="text-center" title="">{{ player.fsh }}</td>
                                                <td class="text-center" title="">{{ player.fsa }}</td>
                                                <td class="text-center" title="{{ player.goalsFor }} / {{ player.goalsAgainst }}">{{ player.gf }}</td>
                                                <td class="text-center" title="{{ player.scoringChancesFor }} / {{ player.scoringChancesAgainst }}">{{ player.scf }}</td>
                                                <td class="text-center" title="{{ player.highDangerScoringChancesFor }} / {{ player.highDangerScoringChancesAgainst }}">{{ player.hscf }}</td>
                                                <td class="text-center" title="{{ player.fo_w }} / {{ player.fo_l }}">{{ player.fo }}</td>
                                                <td class="text-center" title="ZSO:{{ player.offensiveZoneStarts }} ZSN:{{ player.neutralZoneStarts }} ZSD: {{ player.defensiveZoneStarts }}">{{ player.zso }}</td>
                                                <td class="text-center" title="{{ player.hitFor }} / {{ player.hitAgainst }}">{{ player.hit }}</td>
                                                <td class="text-center" title="{{ player.penaltyFor }} / {{ player.penaltyAgainst }}">{{ player.pn }}</td>
                                            </tr>
                                                {% endfor %}
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane text-center" id="graphview">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Graph View</h3>
                                <p>{{ form|format_form_state }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                X-Axis
                                                <select class="form-control input-md" id="xaxis">
                                                    <option value="season">Season</option>
                                                    <option value="games" selected>Games Played</option>
                                                    <option value="goals">Goals</option>
                                                    <option value="assists1">Primary Assists</option>
                                                    <option value="assists2">Secondary Assists</option>
                                                    <option value="points">Points</option>
                                                    <option value="individualShots">Individual Shots</option>
                                                    <option value="individualMissedShots">Individual Missed Shots</option>
                                                    <option value="individualBlockedShots">Individual Blocked Shots</option>
                                                    <option value="cf">Corsi For Percentage</option>
                                                    <option value="ff">Fenwick For Percentage</option>
                                                    <option value="gf">Goals For Percentage</option>
                                                    <option value="scf">Scoring Chance Percentage</option>
                                                    <option value="hscf">High Danger Scoring Chance Percentage</option>
                                                    <option value="fo">Face Off Percentage</option>
                                                    <option value="zso">Offensive Zone Start Percentage</option>
                                                    <option value="hit">Hit Percentage</option>
                                                    <option value="pn">Penalty Percentage</option>
                                                    <option value="toi">Average Time On Ice</option>
                                                </select>
                                            <span class="material-input"></span></div>
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                Y-Axis
                                                <select class="form-control input-md" id="yaxis">
                                                    <option value="games">Games Played</option>
                                                    <option value="goals" selected>Goals</option>
                                                    <option value="assists1">Primary Assists</option>
                                                    <option value="assists2">Secondary Assists</option>
                                                    <option value="points">Points</option>
                                                    <option value="individualShots">Individual Shots</option>
                                                    <option value="individualMissedShots">Individual Missed Shots</option>
                                                    <option value="individualBlockedShots">Individual Blocked Shots</option>
                                                    <option value="cf">Corsi For Percentage</option>
                                                    <option value="ff">Fenwick For Percentage</option>
                                                    <option value="gf">Goals For Percentage</option>
                                                    <option value="scf">Scoring Chance Percentage</option>
                                                    <option value="hscf">High Danger Scoring Chance Percentage</option>
                                                    <option value="fo">Face Off Percentage</option>
                                                    <option value="zso">Offensive Zone Start Percentage</option>
                                                    <option value="hit">Hit Percentage</option>
                                                    <option value="pn">Penalty Percentage</option>
                                                    <option value="toi">Average Time On Ice</option>
                                                </select>
                                            <span class="material-input"></span></div>
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                Radius
                                                <select class="form-control input-md" id="raxis">
                                                    <option value="games">Games Played</option>
                                                    <option value="goals">Goals</option>
                                                    <option value="assists1">Primary Assists</option>
                                                    <option value="assists2">Secondary Assists</option>
                                                    <option value="points" selected>Points</option>
                                                    <option value="individualShots">Individual Shots</option>
                                                    <option value="individualMissedShots">Individual Missed Shots</option>
                                                    <option value="individualBlockedShots">Individual Blocked Shots</option>
                                                    <option value="cf">Corsi For Percentage</option>
                                                    <option value="ff">Fenwick For Percentage</option>
                                                    <option value="gf">Goals For Percentage</option>
                                                    <option value="scf">Scoring Chance Percentage</option>
                                                    <option value="hscf">High Danger Scoring Chance Percentage</option>
                                                    <option value="fo">Face Off Percentage</option>
                                                    <option value="zso">Offensive Zone Start Percentage</option>
                                                    <option value="hit">Hit Percentage</option>
                                                    <option value="pn">Penalty Percentage</option>
                                                    <option value="toi">Average Time On Ice</option>
                                                </select>
                                            <span class="material-input"></span></div>
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <button id="refreshGraph" class="btn btn-primary">Refresh<div class="ripple-container"></div></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-xs btn-primary" id="playerComparisonButton"><i class="fa fa-floppy-o"></i> Save</button>
                                <div id="playerComparison"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                Averaged Value
                                                <select class="form-control input-md" id="averageoptions">
                                                    <option value="games">Games Played</option>
                                                    <option value="goals">Goals</option>
                                                    <option value="gf60">GF60</option>
                                                    <option value="assists1">Primary Assists</option>
                                                    <option value="a160">A160</option>
                                                    <option value="assists2">Secondary Assists</option>
                                                    <option value="a260">A260</option>
                                                    <option value="assists">Assists</option>
                                                    <option value="a60">A60</option>
                                                    <option value="points">Points</option>
                                                    <option value="p60">P60</option>
                                                    <option value="individualShots">Individual Shots</option>
                                                    <option value="individualMissedShots">Individual Missed Shots</option>
                                                    <option value="individualBlockedShots">Individual Blocked Shots</option>
                                                    <option value="cf">Corsi For Percentage</option>
                                                    <option value="cf60" selected>CF60</option>
                                                    <option value="ca60">CA60</option>
                                                    <option value="ff">Fenwick For Percentage</option>
                                                    <option value="ff60">FF60</option>
                                                    <option value="fa60">FA60</option>
                                                    <option value="gf">Goals For Percentage</option>
                                                    <option value="scf">Scoring Chance Percentage</option>
                                                    <option value="hscf">High Danger Scoring Chance Percentage</option>
                                                    <option value="fo">Face Off Percentage</option>
                                                    <option value="zso">Offensive Zone Start Percentage</option>
                                                    <option value="hit">Hit Percentage</option>
                                                    <option value="pn">Penalty Percentage</option>
                                                    <option value="toiSeconds">Average Time On Ice</option>
                                                </select>
                                            <span class="material-input"></span></div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                Day Range
                                                <input class="form-control input-md" id="dayrange" type="number" value="20" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <button id="refreshAverageGraph" class="btn btn-primary">Refresh<div class="ripple-container"></div></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-xs btn-primary" id="playerAverageButton"><i class="fa fa-floppy-o"></i> Save</button>
                                <div id="playerAverages"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="canvasArea">
    <canvas style="display:none;" id="canvas" width="1000px" height="700px"></canvas>
</div>
{% endblock %}
{% block page_js %}
<script src="{% static "js/datatables.min.js" %}"></script>
<script src="{% static "js/d3.min.js" %}"></script>
<script src="{% static "js/d3.tip.js" %}"></script>
<script src="{% static "js/teamColors.js" %}"></script>
<script src="{% static "js/graphs/zoomchart.js" %}"></script>
<script src="{% static "js/graphs/rolling_average.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/rgbcolor.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/StackBlur.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/canvg.js" %}"></script>
<script src="{% static "js/graphs/savePNG.js" %}"></script>
<script>
    $(document).ready(function() {

        $('#playerAverages').html('<i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i><span class="sr-only">Loading...</span>');
        $('#teamstats').DataTable({
            "bPaginate": true,
            "order": [
                [0, "desc"]
            ],
            "pageLength": 50,
            scrollX: true,
            "fixedColumns": {
                leftColumns: 1,
            },
            dom: "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>" +
                "<'col-sm-12'B>",
            buttons: [{
                extend: 'copy',
                className: 'btn-sm btn-primary',
            }, {
                extend: 'csv',
                className: 'btn-sm btn-primary',
            }, {
                extend: 'excel',
                className: 'btn-sm btn-primary',
            }]
        });
        var data = JSON.parse("{{ statsJson | escapejs }}");

        var xCat = $('#xaxis').find(":selected").val(),
            yCat = $('#yaxis').find(":selected").val(),
            rCat = $('#raxis').find(":selected").val();
        var xText = $('#xaxis').find(":selected").text(),
            yText = $('#yaxis').find(":selected").text(),
            rText = $('#raxis').find(":selected").text();

        var playerData = [];
        for (key in data) {
            for (season in data[key]) {
                data[key][season].season = season;
                data[key][season].team = data[key][season].teamName;
                data[key][season].toi = Math.floor(data[key][season].toiSeconds / 60);
                playerData.push(data[key][season])
            };
        };
        zoomchart('#playerComparison', "#teamTabContent", playerData, xCat, yCat, rCat, xText, yText, rText, 'Player', 'player_id');
        savePNG("#playerComparisonButton", "#playerComparison");

        $('#refreshGraph').click(function(e) {
            e.preventDefault();
            var xCat = $('#xaxis').find(":selected").val(),
                yCat = $('#yaxis').find(":selected").val(),
                rCat = $('#raxis').find(":selected").val();
            var xText = $('#xaxis').find(":selected").text(),
                yText = $('#yaxis').find(":selected").text(),
                rText = $('#raxis').find(":selected").text();

            zoomchart('#playerComparison', "#teamTabContent", playerData, xCat, yCat, rCat, xText, yText, rText, 'Player', 'player_id');

        });
        var urlParams;
        (window.onpopstate = function () {
            var match,
                pl     = /\+/g,  // Regex for replacing addition symbol with a space
                search = /([^&=]+)=?([^&]*)/g,
                decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
                query  = window.location.search.substring(1);

            urlParams = {};
            while (match = search.exec(query))
               urlParams[decode(match[1])] = decode(match[2]);
        })();

        var stats = null;
        var raw_stats = null;
        var day_range = 20;
        var url = "/players/skaters/{{ player_id }}/averages?day_range=" + day_range;
        for (param in urlParams) {
            url += "&" + param + "=" + urlParams[param];
        }
        $('#refreshAverageGraph').click(function(e) {
            e.preventDefault();
            var aVal = $('#averageoptions').find(":selected").val();
            var new_day_range = $('#dayrange').val();
            if (new_day_range != day_range) {
                url = url.replace("?day_range=" + day_range, "?day_range=" + new_day_range);
                day_range = new_day_range;
                $('#playerAverages').html('<i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i><span class="sr-only">Loading...</span>');
                $.ajax({url: url  + day_range, success: function(result) {
                    stats = result["days"];
                    raw_stats = result["raw_data"];
                    rollingAverage("#playerAverages", "#teamTabContent", aVal, stats, raw_stats, day_range, "{{ team.abbreviation }}", "{{ player.fullName }}");
                }})
            } else {
                rollingAverage("#playerAverages", "#teamTabContent", aVal, stats, raw_stats, day_range, "{{ team.abbreviation }}", "{{ player.fullName }}");
            }

        });

        $.ajax({url: url, success: function(result) {
            stats = result["days"];
            raw_stats = result["raw_data"];
            rollingAverage("#playerAverages", "#teamTabContent", "cf60", stats, raw_stats, day_range, "{{ team.abbreviation }}", "{{ player.fullName }}");
        }})
        savePNG("#playerAverageButton", "#playerAverages");

    });

</script>
{% endblock %}
