{% extends "wrappers/wrapper.html" %}
{% load website_extras %}
{% load pbp_extras %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block page_css %}
<link href="{% static "css/datatables.min.css" %}" rel="stylesheet">
<link href="{% static "css/datatables-fontawesome.css" %}" rel="stylesheet">
<link href="{% static "css/fixedColumns.bootstrap.min.css" %}" rel="stylesheet">
<style>
rect {
  fill: transparent;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

.dot {
  fill-opacity: .5;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="well bs-component">
                    <h4 class="filter-options" data-toggle="collapse" data-target="#gameFilter">
                    Filter Options
                    <img class="filter-collapsed" height="20" width="20" style="float: right"src="{% with 'img/arrow.svg' as image_static %}{% static image_static %} {% endwith %}">
                    </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <form id="gameFilter" class="collapse" action="" method="GET">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            {{ form.teamstrengths.label }}
                                            {{ form.teamstrengths }}
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            {{ form.scoresituation.label }}
                                            {{ form.scoresituation }}
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            {{ form.period.label }}
                                            {{ form.period }}
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            {{ form.season.label }}
                                            {{ form.season }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            {{ form.teams.label }}
                                            {{ form.teams }}
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            {{ form.venues.label }}
                                            {{ form.venues }}
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label for="id_date_start">Start Date:</label>
                                            {% render_field form.startDate class+="form-control datepicker" %}
                                        </div>
                                        <div class="form-group">
                                            <label for="id_date_start">End Date:</label>
                                            {% render_field form.endDate class+="form-control datepicker" %}
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label for="id_game_type">Game Types:</label>
                                            {% for g, glabel in form.gameTypes.field.choices %}
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="gameTypes" id="id_gameTypes_{{ forloop.counter }}" value="{{ g }}" {% if g in form.gameTypes.value %}checked{% endif %}>
                                                    {{ glabel }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Submit<div class="ripple-container"></div></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-nav-tabs">
        <div class="header header-primary">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active">
                            <a href="#statview" data-toggle="tab" aria-expanded="false">
                                Stats By Season
                            <div class="ripple-container"></div></a>
                        </li>
                        <li class="">
                            <a href="#graphview" data-toggle="tab" aria-expanded="false">
                                Graph View
                            <div class="ripple-container"></div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="teamTabContent" class="content">
            <div class="content">
                <div class="tab-content">
                    <div class="tab-pane active" id="statview">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <h3>Player Stats</h3>
                                <p>{{ form|format_form_state }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="teamstats" class="table full-width table-condensed table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" title="Name">Name</th>
                                                <th class="text-center" title="Team">Team</th>
                                                <th class="text-center" title="Season">Season</th>
                                                <th class="text-center" title="Games Played">GP</th>
                                                <th class="text-center" title="Average Time On Ice">TOI/Gm</th>
                                                <th class="text-center" title="Goals">Goals</th>
                                                <th class="text-center" title="Goals For per 60 minutes">GF60</th>
                                                <th class="text-center" title="Primary Assists">A1</th>
                                                <th class="text-center" title="Assist1 per 60 minutes">A160</th>
                                                <th class="text-center" title="Secondary Assists">A2</th>
                                                <th class="text-center" title="Assists per 60 minutes">A60</th>
                                                <th class="text-center" title="Points">P</th>
                                                <th class="text-center" title="Points For per 60 minutes">PF60</th>
                                                <th class="text-center" title="Corsi For Percentage">CF%</th>
                                                <th class="text-center" title="Corsi For per 60 minutes">CF60</th>
                                                <th class="text-center" title="Fenwick For Percentage">FF%</th>
                                                <th class="text-center" title="Fenwick For per 60 minutes">FF60</th>
                                                <th class="text-center" title="Goals For Percentage">GF%</th>
                                                <th class="text-center" title="Scoring Chance Percentage">SCF%</th>
                                                <th class="text-center" title="High Danger Scoring Chance Percentage">HSCF%</th>
                                                <th class="text-center" title="Faceoff Percentage">FO%</th>
                                                <th class="text-center" title="Offensive Zone Start Percentage">ZSO%</th>
                                                <th class="text-center" title="Hit Percentage">Hit%</th>
                                                <th class="text-center" title="Penalty Percentage">Pen%</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for player in stats %}
                                                <tr>
                                                    <td title=""><a href="/players/{{ player.player_id }}/">{{ player.fullName }}</a></td>
                                                    <td title="">{{ player.team }}</td>
                                                    <td title="">{{ player.season }}</td>
                                                    <td title="">{{ player.games }}</td>
                                                    <td title="">{{ player.toi }}</td>
                                                    <td title="">{{ player.goals }}</td>
                                                    <td title="">{{ player.gf60 }}</td>
                                                    <td title="">{{ player.assists1 }}</td>
                                                    <td title="">{{ player.a160 }}</td>
                                                    <td title="">{{ player.assists2 }}</td>
                                                    <td title="">{{ player.a60 }}</td>
                                                    <td title="">{{ player.points }}</td>
                                                    <td title="">{{ player.p60 }}</td>
                                                    <td title="{{ player.corsiFor }} / {{ player.corsiAgainst }}">{{ player.cf }}</td>
                                                    <td title="">{{ player.cf60 }}</td>
                                                    <td title="{{ player.fenwickFor }} / {{ player.fenwickAgainst }}">{{ player.ff }}</td>
                                                    <td title="">{{ player.ff60 }}</td>
                                                    <td title="{{ player.goalsFor }} / {{ player.goalsAgainst }}">{{ player.gf }}</td>
                                                    <td title="{{ player.scoringChancesFor }} / {{ player.scoringChancesAgainst }}">{{ player.scf }}</td>
                                                    <td title="{{ player.highDangerScoringChancesFor }} / {{ player.highDangerScoringChancesAgainst }}">{{ player.hscf }}</td>
                                                    <td title="{{ player.fo_w }} / {{ player.fo_l }}">{{ player.fo }}</td>
                                                    <td title="ZSO:{{ player.offensiveZoneStarts }} ZSN:{{ player.neutralZoneStarts }} ZSD: {{ player.defensiveZoneStarts }}">{{ player.zso }}</td>
                                                    <td title="{{ player.hitFor }} / {{ player.hitAgainst }}">{{ player.hit }}</td>
                                                    <td title="{{ player.penaltyFor }} / {{ player.penaltyAgainst }}">{{ player.pn }}</td>
                                                </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane text-center" id="graphview">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Graph View</h3>
                                <p>{{ form|format_form_state }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                X-Axis
                                                <select class="form-control input-md" id="xaxis">
                                                    <option value="games" selected>Games Played</option>
                                                    <option value="toi">Average Time On Ice</option>
                                                    <option value="goals">Goals</option>
                                                    <option value="gf60">Goals For per 60 minutes</option>
                                                    <option value="assists1">Primary Assists</option>
                                                    <option value="a160">Assists1 For per 60 minutes</option>
                                                    <option value="assists2">Secondary Assists</option>
                                                    <option value="a60">Assists per 60 minutes</option>
                                                    <option value="points">Points</option>
                                                    <option value="p60">Points For per 60 minutes</option>
                                                    <option value="cf">Corsi For Percentage</option>
                                                    <option value="cf60">Corsi For per 60 minutes</option>
                                                    <option value="ff">Fenwick For Percentage</option>
                                                    <option value="ff60">Fenwick For per 60 minutes</option>
                                                    <option value="gf">Goals For Percentage</option>
                                                    <option value="scf">Scoring Chance Percentage</option>
                                                    <option value="hscf">High Danger Scoring Chance Percentage</option>
                                                    <option value="fo">Face Off Percentage</option>
                                                    <option value="zso">Offensive Zone Start Percentage</option>
                                                    <option value="hit">Hit Percentage</option>
                                                    <option value="pn">Penalty Percentage</option>
                                                </select>
                                            <span class="material-input"></span></div>
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                Y-Axis
                                                <select class="form-control input-md" id="yaxis">
                                                    <option value="games">Games Played</option>
                                                    <option value="toi">Average Time On Ice</option>
                                                    <option value="goals" selected>Goals</option>
                                                    <option value="gf60">Goals For per 60 minutes</option>
                                                    <option value="assists1">Primary Assists</option>
                                                    <option value="a160">Assists1 For per 60 minutes</option>
                                                    <option value="assists2">Secondary Assists</option>
                                                    <option value="a60">Assists per 60 minutes</option>
                                                    <option value="points">Points</option>
                                                    <option value="p60">Points For per 60 minutes</option>
                                                    <option value="cf">Corsi For Percentage</option>
                                                    <option value="cf60">Corsi For per 60 minutes</option>
                                                    <option value="ff">Fenwick For Percentage</option>
                                                    <option value="ff60">Fenwick For per 60 minutes</option>
                                                    <option value="gf">Goals For Percentage</option>
                                                    <option value="scf">Scoring Chance Percentage</option>
                                                    <option value="hscf">High Danger Scoring Chance Percentage</option>
                                                    <option value="fo">Face Off Percentage</option>
                                                    <option value="zso">Offensive Zone Start Percentage</option>
                                                    <option value="hit">Hit Percentage</option>
                                                </select>
                                            <span class="material-input"></span></div>
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                Radius
                                                <select class="form-control input-md" id="raxis">
                                                    <option value="games">Games Played</option>
                                                    <option value="toi">Average Time On Ice</option>
                                                    <option value="goals">Goals</option>
                                                    <option value="gf60">Goals For per 60 minutes</option>
                                                    <option value="assists1">Primary Assists</option>
                                                    <option value="a160">Assists1 For per 60 minutes</option>
                                                    <option value="assists2">Secondary Assists</option>
                                                    <option value="a60">Assists per 60 minutes</option>
                                                    <option value="points">Points</option>
                                                    <option value="p60">Points For per 60 minutes</option>
                                                    <option value="cf">Corsi For Percentage</option>
                                                    <option value="cf60">Corsi For per 60 minutes</option>
                                                    <option value="ff">Fenwick For Percentage</option>
                                                    <option value="ff60">Fenwick For per 60 minutes</option>
                                                    <option value="gf">Goals For Percentage</option>
                                                    <option value="scf">Scoring Chance Percentage</option>
                                                    <option value="hscf">High Danger Scoring Chance Percentage</option>
                                                    <option value="fo">Face Off Percentage</option>
                                                    <option value="zso" selected>Offensive Zone Start Percentage</option>
                                                    <option value="hit">Hit Percentage</option>
                                                </select>
                                            <span class="material-input"></span></div>
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <button id="refreshGraph" class="btn btn-primary">Refresh<div class="ripple-container"></div></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-xs btn-primary" id="playerComparisonButton"><i class="fa fa-floppy-o"></i> Save</button>
                                <div id="playerComparison"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="canvasArea">
    <canvas style="display:none;" id="canvas" width="1000px" height="700px"></canvas>
</div>
{% endblock %}
{% block page_js %}
<script src="{% static "js/datatables.min.js" %}"></script>
<script src="{% static "js/d3.min.js" %}"></script>
<script src="{% static "js/teamColors.js" %}"></script>
<script src="{% static "js/d3.tip.js" %}"></script>
<script src="{% static "js/graphs/zoomchart.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/rgbcolor.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/StackBlur.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/canvg.js" %}"></script>
<script src="{% static "js/graphs/savePNG.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script>
    var data = JSON.parse("{{ statsJson|escapejs }}");

    $(document).ready(function() {

        $('#teamstats').DataTable({
            "bPaginate": true,
            "order": [
                [5, "desc"]
            ],
            "pageLength": 25,
            scrollX: true,
            "fixedColumns": {
                leftColumns: 1,
            },
            dom: "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>" +
                "<'col-sm-12'B>",
            buttons: [{
                extend: 'copy',
                className: 'btn-sm btn-primary',
            }, {
                extend: 'csv',
                className: 'btn-sm btn-primary',
            }, {
                extend: 'excel',
                className: 'btn-sm btn-primary',
            }]
        });

        var xCat = $('#xaxis').find(":selected").val(),
            yCat = $('#yaxis').find(":selected").val(),
            rCat = $('#raxis').find(":selected").val();
        var xText = $('#xaxis').find(":selected").text(),
            yText = $('#yaxis').find(":selected").text(),
            rText = $('#raxis').find(":selected").text();
        zoomchart('#playerComparison', "#teamTabContent", data, xCat, yCat, rCat, xText, yText, rText);
        savePNG("#playerComparisonButton", "#playerComparison");
    });

    $('#refreshGraph').click(function(e) {
        e.preventDefault()
        var xCat = $('#xaxis').find(":selected").val(),
            yCat = $('#yaxis').find(":selected").val(),
            rCat = $('#raxis').find(":selected").val();
        var xText = $('#xaxis').find(":selected").text(),
            yText = $('#yaxis').find(":selected").text(),
            rText = $('#raxis').find(":selected").text();
        zoomchart('#playerComparison', "#teamTabContent", data, xCat, yCat, rCat, xText, yText, rText);
    });
</script>
{% endblock %}
