{% extends "wrappers/wrapper.html" %}
{% load website_extras %}
{% load pbp_extras %}
{% load staticfiles %}
{% block page_css %}
<link href="{% static "css/datatables.min.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-responsive img-center" alt="{{ game.awayTeam.abbreviation }} logo" id="away-team-logo" src='{% with 'img/team/'|add:game.awayTeam.abbreviation|add:'.png' as image_static %}{% static image_static %} {% endwith %}'>
            </div>
            <div class="col-md-4 text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="away-team" id="away-team-name">{{ game.awayTeam }}</h3>
                        <h4>at</h4>
                        <h3 class="home-team" id="home-team-name">{{ game.homeTeam }}</h3>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <h3><span id="away-score">{{ game.awayScore }}</span> - <span id="home-score">{{ game.homeScore }}</span></h3>
                    </div>
                </div>
                {% if game.gameState != "7" %}
                    {% if period is not None %}
                    <div class="row">
                        <div class="col-md-12">
                            <h4><span id="periodTime">{{ periodTime }}</span>&nbsp;<span id="period">{{ period.period|get_period }}</span></h4>
                            <p><span id="liveUpdate"></span></p>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{ game.gameState|gameStatus }}{{ game|checkOT }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-responsive img-center" alt="{{ game.homeTeam.abbreviation }} logo" id="home-team-logo" src='{% with 'img/team/'|add:game.homeTeam.abbreviation|add:'.png' as image_static %}{% static image_static %} {% endwith %}'>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="well bs-component">
                    <h4 class="filter-options" data-toggle="collapse" data-target="#gameFilter">
                    Filter Options
                    <img class="filter-collapsed" height="20" width="20" style="float: right"src="{% with 'img/arrow.svg' as image_static %}{% static image_static %} {% endwith %}">
                    </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <form id="gameFilter" class="collapse" action="" method="GET">
                                <div class="form-group">
                                    {{ form.teamstrengths.label }}
                                    {{ form.teamstrengths }}
                                </div>
                                <div class="form-group">
                                    {{ form.scoresituation.label }}
                                    {{ form.scoresituation }}
                                </div>
                                <div class="form-group">
                                    {{ form.period.label }}
                                    {{ form.period }}
                                </div>
                                <div class="form-group">
                                    <button class="btn" type="submit">Submit<div class="ripple-container"></div></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-nav-tabs">
        <div class="header header-primary">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active">
                            <a href="#tableview" data-toggle="tab" aria-expanded="true">
                                Table View
                            <div class="ripple-container"></div></a>
                        </li>
                        <li class="">
                            <a href="#graphview" data-toggle="tab" aria-expanded="false">
                                Graph View
                            <div class="ripple-container"></div></a>
                        </li>
                        <li class="">
                            <a href="#pbpview" data-toggle="tab" aria-expanded="false">
                                Play By Play
                            <div class="ripple-container"></div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content">
                <div class="tab-content text-center">
                    <div class="tab-pane active" id="tableview">
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Team Statistics</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center" title="Team">Team</th>
                                                <th class="text-center" title="On-Ice Goals For Total">GF</th>
                                                <th class="text-center" title="On-Ice Shots-On-Goal For Total">SF</th>
                                                <th class="text-center" title="Missed Shots For">MSF</th>
                                                <th class="text-center" title="Blocked Shots">BSF</th>
                                                <th class="text-center" title="Corsi For Total">CF</th>
                                                <th class="text-center" title="On-Ice Scoring Chances For Total">SCF</th>
                                                <th class="text-center" title="On-Ice High-Danger Scoring Chances For Total">HSCF</th>
                                                <th class="text-center" title="Offensive Zone Starts">ZSO</th>
                                                <th class="text-center" title="Hits">HIT</th>
                                                <th class="text-center" title="Penalties">PN</th>
                                                <th class="text-center" title="Faceoffs Won">FO_W</th>
                                                <th class="text-center" title="Time On Ice">TOI</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for team in teamstats %}
                                            <tr>
                                                <td title="Team"><img height="17" width="17" alt="{{ team.team }} logo" src='{% with 'img/team/'|add:team.team|add:'.png' as image_static %}{% static image_static %} {% endwith %}'>&nbsp;{{ team.team }}</td>
                                                <td title="On-Ice Goals For Total">{{ team.gf }}</td>
                                                <td title="On-Ice Shots-On-Goal For Total">{{ team.sf }}</td>
                                                <td title="Missed Shots For">{{ team.msf }}</td>
                                                <td title="Blocked Shots">{{ team.bsf }}</td>
                                                <td title="Corsi For Total">{{ team.cf }}</td>
                                                <td title="On-Ice Scoring Chances For Total">{{ team.scf }}</td>
                                                <td title="On-Ice High-Danger Scoring Chances For Total">{{ team.hscf }}</td>
                                                <td title="Offensive Zone Starts">{{ team.zso }}</td>
                                                <td title="Hits">{{ team.hit }}</td>
                                                <td title="Penalties">{{ team.pn }}</td>
                                                <td title="Faceoffs Won">{{ team.fo_w }}</td>
                                                <td title="Time On Ice">{{ team.toi }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Goalie Statistics</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Player Statistics</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="graphview">
                        
                    </div>
                    <div class="tab-pane" id="pbpview">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="pbp" class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Period</th>
                                            <th class="text-center">Time</th>
                                            <th class="text-center">Score</th>
                                            <th class="text-center">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for play in playbyplay %}
                                        <tr>
                                            <td>{{ play.period }}</td>
                                            <td>{{ play.periodTimeString }}</td>
                                            <td>{{ play.homeScore }} - {{ play.awayScore }}</td>
                                            <td>{{ play|create_play_text|safe }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block page_js %}
<script src="{% static "js/datatables.min.js" %}"></script>
<script>
    $(document).ready(function() {
        $('#pbp').DataTable({
            "iDisplayLength": 25,
            "bSort": false
        });

    });

    $('.filter-options').click(function(e) {
        var icon = $('.filter-options img');
        console.log(icon);
        if (icon.hasClass('filter-collapsed')) {
            icon.removeClass('filter-collapsed');
            icon.addClass('filter-expanded');
        } else {
            icon.removeClass('filter-expanded');
            icon.addClass('filter-collapsed');
        }
    });
</script>
{% endblock %}