{% extends "wrappers/wrapper.html" %}
{% load website_extras %}
{% load staticfiles %}
{% block page_css %}
<link href="{% static "css/datatables.min.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="card">
            <div class="col-md-4 text-center">
                <img id="away-team-logo" src='{% with 'img/team/'|add:game.awayTeam.abbreviation|add:'.png' as image_static %}{% static image_static %} {% endwith %}'>
            </div>
            <div class="col-md-4 text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="away-team" id="away-team-name">{{ game.awayTeam }}</h3>
                        <h4>at</h4>
                        <h3 class="home-team" id="home-team-name">{{ game.homeTeam }}</h3>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <h3><span id="away-score">{{ game.awayScore }}</span> - <span id="home-score">{{ game.homeScore }}</span></h3>
                    </div>
                </div>
                {% if period is not None %}
                <div class="row">
                    <div class="col-md-12">
                        <h4><span id="period">{{ period.period }}</span><span id="periodTime">{{ period.periodTime }}</span></h4>
                        <p><span id="liveUpdate"></span></p>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-4 text-center">
                <img id="home-team-logo" src='{% with 'img/team/'|add:game.homeTeam.abbreviation|add:'.png' as image_static %}{% static image_static %} {% endwith %}'>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block page_js %}

{% endblock %}