{% extends "wrappers/wrapper.html" %}
{% load website_extras %}
{% load pbp_extras %}
{% load staticfiles %}
{% block title %}{{ game.awayTeam.abbreviation }} vs {{ game.homeTeam.abbreviation }} {{ game.dateTime }}{% endblock %}
{% block page_css %}
<link href="{% static "css/datatables.min.css" %}" rel="stylesheet">
<link href="{% static "css/datatables-fontawesome.css" %}" rel="stylesheet">
<link href="{% static "css/fixedColumns.bootstrap.min.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-responsive img-center" alt="{{ game.awayTeam.abbreviation }} logo" id="away-team-logo" src='{% with 'img/team/'|add:game.awayTeam.abbreviation|add:'.png' as image_static %}{% static image_static %} {% endwith %}' style="padding-top:40px;">
            </div>
            <div class="col-md-4 text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="away-team" id="away-team-name">{{ game.awayTeam }}</h3>
                        <h4>at</h4>
                        <h3 class="home-team" id="home-team-name">{{ game.homeTeam }}</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3><span id="away-score">{{ game.awayScore }}</span> - <span id="home-score">{{ game.homeScore }}</span></h3>
                    </div>
                </div>
                {% if game.gameState != "7" %}
                    {% if period is not None %}
                    <div class="row">
                        <div class="col-md-12">
                            <h4><span id="periodTime">{{ periodTimeString }}</span>&nbsp;<span id="period">{{ period.period|get_period }}</span></h4>
                            <p><span id="liveUpdate"></span></p>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{ game.gameState|gameStatus }}{{ game|checkOT }}</h4>
                        {% if game.gameState == "3" or game.gameState == "4" %}
                        <p>*Live games auto-update every minute</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-responsive img-center" alt="{{ game.homeTeam.abbreviation }} logo" id="home-team-logo" src='{% with 'img/team/'|add:game.homeTeam.abbreviation|add:'.png' as image_static %}{% static image_static %} {% endwith %}' style="padding-top:40px;">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="well bs-component">
                    <h4 class="filter-options" data-toggle="collapse" data-target="#gameFilter">
                    Filter Options
                    <img class="filter-collapsed" height="20" width="20" style="float: right"src="{% with 'img/arrow.svg' as image_static %}{% static image_static %} {% endwith %}">
                    </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <form id="gameFilter" class="collapse" action="" method="GET">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            {{ form.teamstrengths.label }}
                                            {{ form.teamstrengths }}
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            {{ form.scoresituation.label }}
                                            {{ form.scoresituation }}
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            {{ form.period.label }}
                                            {{ form.period }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button class="btn" type="submit">Submit<div class="ripple-container"></div></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-nav-tabs">
        <div class="header header-primary">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active">
                            <a href="#tableview" data-toggle="tab" aria-expanded="true">
                                Table View
                            <div class="ripple-container"></div></a>
                        </li>
                        <li class="">
                            <a href="#graphview" data-toggle="tab" aria-expanded="false">
                                Graph View
                            <div class="ripple-container"></div></a>
                        </li>
                        <li class="">
                            <a href="#pbpview" data-toggle="tab" aria-expanded="false">
                                Play By Play
                            <div class="ripple-container"></div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="gameTabContent" class="content">
            <div class="content">
                <div class="tab-content text-center">
                    <div class="tab-pane active" id="tableview">
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Team Statistics</h3>
                                    <p>{{ form|format_form_state }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table id="teamstats" class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" title="Team">Team</th>
                                                    <th class="text-center" title="On-Ice Goals For Total">GF</th>
                                                    <th class="text-center" title="On-Ice Shots-On-Goal For Total">SF</th>
                                                    <th class="text-center" title="Missed Shots For">MSF</th>
                                                    <th class="text-center" title="Blocked Shots">BSF</th>
                                                    <th class="text-center" title="Corsi For Total">CF</th>
                                                    <th class="text-center" title="On-Ice Scoring Chances For Total">SCF</th>
                                                    <th class="text-center" title="On-Ice High-Danger Scoring Chances For Total">HSCF</th>
                                                    <th class="text-center" title="Offensive Zone Starts">ZSO</th>
                                                    <th class="text-center" title="Hits">HIT</th>
                                                    <th class="text-center" title="Penalties">PN</th>
                                                    <th class="text-center" title="Faceoffs Won">FO_W</th>
                                                    <th class="text-center" title="Time On Ice">TOI</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for team in teamstats %}
                                                <tr>
                                                    <td title="Team"><img height="17" width="17" alt="{{ team.team }} logo" src='{% with 'img/team/'|add:team.team|add:'.png' as image_static %}{% static image_static %} {% endwith %}'>&nbsp;{{ team.team }}</td>
                                                    <td title="On-Ice Goals For Total">{{ team.gf }}</td>
                                                    <td title="On-Ice Shots-On-Goal For Total">{{ team.sf }}</td>
                                                    <td title="Missed Shots For">{{ team.msf }}</td>
                                                    <td title="Blocked Shots">{{ team.bsf }}</td>
                                                    <td title="Corsi For Total">{{ team.cf }}</td>
                                                    <td title="On-Ice Scoring Chances For Total">{{ team.scf }}</td>
                                                    <td title="On-Ice High-Danger Scoring Chances For Total">{{ team.hscf }}</td>
                                                    <td title="Offensive Zone Starts">{{ team.zso }}</td>
                                                    <td title="Hits">{{ team.hit }}</td>
                                                    <td title="Penalties">{{ team.pn }}</td>
                                                    <td title="Faceoffs Won">{{ team.fo_w }}</td>
                                                    <td title="Time On Ice">{{ team.toi }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Goalie Statistics</h3>
                                    <p>{{ form|format_form_state }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {% include "games/goalietable.html" %}
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Player Statistics</h3>
                                        <p>{{ form|format_form_state }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% with team=game.homeTeam %}
                                            {% include "games/playertable.html" %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% with team=game.awayTeam %}
                                            {% include "games/playertable.html" %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="graphview">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="text-center">Shots Attempts&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-xs btn-primary" id="shotChartButton"><i class="fa fa-floppy-o"></i> Save</button></h4>
                                <div id="shotChart"></div>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class="text-center">Player Corsi Events</h4>
                            <p class="text-center">*Click points to toggle information</p>
                            <div class="col-md-6 col-sm-12">
                                <h4 class="text-center">Away Corsi&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-xs btn-primary" id="away-corsiButton"><i class="fa fa-floppy-o"></i> Save</button></h4>
                                <div id="away-corsi"></div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h4 class="text-center">Home Corsi&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-xs btn-primary" id="home-corsiButton"><i class="fa fa-floppy-o"></i> Save</button></h4>
                                <div id="home-corsi"></div>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class="text-center">Player Comparison</h4>
                            <div class="col-md-12">
                                <form>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                X-Axis
                                                <select class="form-control input-md" id="xaxis">
                                                    <option value="g">Goals</option>
                                                    <option value="a1">Primary Assists</option>
                                                    <option value="a2">Secondary Assists</option>
                                                    <option value="p">Points</option>
                                                    <option value="cf">Corsi For Total</option>
                                                    <option value="ca">Corsi Against Total</option>
                                                    <option value="ff">Fenwick For Total</option>
                                                    <option value="fa">Fenwick Against Total</option>
                                                    <option value="gf">On-Ice Goals For</option>
                                                    <option value="ga">On-Ice Goals Against</option>
                                                    <option value="iscf">Individual Scoring Chances For</option>
                                                    <option value="ihscf">Individual High Danger Scoring Chances For</option>
                                                    <option value="scf" selected>Scoring Chances For</option>
                                                    <option value="hscf">High Danger Scoring Chances For</option>
                                                    <option value="sca">Scoring Chances Against</option>
                                                    <option value="hsca">High Danger Scoring Chances Against</option>
                                                    <option value="fo_w">Faceoffs Won</option>
                                                    <option value="fo_l">Faceoffs Lost</option>
                                                    <option value="zso">Offensive Zone Starts</option>
                                                    <option value="zsn">Neutral Zone Starts</option>
                                                    <option value="zsd">Defensive Zone Starts</option>
                                                    <option value="hitplus">Hits</option>
                                                    <option value="hitminus">Hits Taken</option>
                                                    <option value="pnplus">Penalties</option>
                                                    <option value="pnminus">Penalties Taken</option>
                                                    <option value="toi">Time On Ice</option>

                                                </select>
                                            <span class="material-input"></span></div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                Y-Axis
                                                <select class="form-control input-md" id="yaxis">
                                                    <option value="g">Goals</option>
                                                    <option value="a1">Primary Assists</option>
                                                    <option value="a2">Secondary Assists</option>
                                                    <option value="p">Points</option>
                                                    <option value="cf">Corsi For Total</option>
                                                    <option value="ca">Corsi Against Total</option>
                                                    <option value="ff">Fenwick For Total</option>
                                                    <option value="fa">Fenwick Against Total</option>
                                                    <option value="gf">On-Ice Goals For</option>
                                                    <option value="ga">On-Ice Goals Against</option>
                                                    <option value="iscf">Individual Scoring Chances For</option>
                                                    <option value="ihscf">Individual High Danger Scoring Chances For</option>
                                                    <option value="scf">Scoring Chances For</option>
                                                    <option value="hscf">High Danger Scoring Chances For</option>
                                                    <option value="sca" selected>Scoring Chances Against</option>
                                                    <option value="hsca">High Danger Scoring Chances Against</option>
                                                    <option value="fo_w">Faceoffs Won</option>
                                                    <option value="fo_l">Faceoffs Lost</option>
                                                    <option value="zso">Offensive Zone Starts</option>
                                                    <option value="zsn">Neutral Zone Starts</option>
                                                    <option value="zsd">Defensive Zone Starts</option>
                                                    <option value="hitplus">Hits</option>
                                                    <option value="hitminus">Hits Taken</option>
                                                    <option value="pnplus">Penalties</option>
                                                    <option value="pnminus">Penalties Taken</option>
                                                    <option value="toi">Time On Ice</option>
                                                </select>
                                            <span class="material-input"></span></div>
                                        </div>
                                        <div class="col-md-4 col-md-12">
                                            <div class="form-group">
                                                <button id="refreshGraph" class="btn">Refresh<div class="ripple-container"></div></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-xs btn-primary" id="playerComparisonButton"><i class="fa fa-floppy-o"></i> Save</button>
                                <div id="playerComparison"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="pbpview">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="pbp" class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Period</th>
                                            <th class="text-center">Time</th>
                                            <th class="text-center">Score</th>
                                            <th class="text-center">Description</th>
                                            <th>On-Ice</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table table-condensed">
                                        {% for play in playbyplay %}
                                        <tr>
                                            <td>{{ play.period }}</td>
                                            <td>{{ play.periodTimeString }}</td>
                                            <td>{{ play.homeScore }} - {{ play.awayScore }}</td>
                                            <td>
                                                {{ play|create_play_text|safe }}
                                            </td>
                                            <td>
                                                <table class="table table-bordered table-striped table-condensed">
                                                    <tbody>
                                                        <tr>
                                                            <th><img height="17" width="17" alt="{{ game.awayTeam.abbreviation }} logo" src='{% with 'img/team/'|add:game.awayTeam.abbreviation|add:'.png' as image_static %}{% static image_static %} {% endwith %}'>&nbsp;{{ game.awayTeam.abbreviation }}</th>
                                                            {% for player in play.onice %}
                                                                {% if player.team_id == game.awayTeam_id %}
                                                                <td>{{ player.player__lastName }}<br />{{ player.player__primaryPositionCode }}</td>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                        <tr>
                                                            <th><img height="17" width="17" alt="{{ game.homeTeam.abbreviation }} logo" src='{% with 'img/team/'|add:game.homeTeam.abbreviation|add:'.png' as image_static %}{% static image_static %} {% endwith %}'>&nbsp;{{ game.homeTeam.abbreviation }}</th>
                                                            {% for player in play.onice %}
                                                                {% if player.team_id == game.homeTeam_id %}
                                                                <td>{{ player.player__lastName }}<br />{{ player.player__primaryPositionCode }}</td>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="canvasArea">
    <canvas style="display:none;" id="canvas" width="1000px" height="700px"></canvas>
</div>
{% endblock %}
{% block page_js %}
<script src="{% static "js/datatables.min.js" %}"></script>
<script src="{% static "js/dataTables.fixedColumns.min.js" %}"></script>
<script src="{% static "js/d3.min.js" %}"></script>
<script src="{% static "js/teamColors.js" %}"></script>
<script src="{% static "js/graphs/shotChart.js" %}"></script>
<script src="{% static "js/graphs/corsiEventChart.js" %}"></script>
<script src="{% static "js/graphs/playerCompare.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/rgbcolor.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/StackBlur.js" %}"></script>
<script type="text/javascript" src="{% static "js/graphs/canvg/canvg.js" %}"></script>
<script src="{% static "js/graphs/savePNG.js" %}"></script>
<script>
    $(document).ready(function() {


        $('#pbp').DataTable({
            "iDisplayLength": 10,
            "bSort": false
        });

        var z = $('#{{ game.awayTeam.abbreviation }}-players').DataTable({
            "iDisplayLength": 25,
            "bPaginate": false,
            scrollX: true,
            "fixedColumns": {
                leftColumns: 1,
            }
        });

        $('#{{ game.homeTeam.abbreviation }}-players').DataTable({
            "iDisplayLength": 25,
            "bPaginate": false,
            scrollX: true,
            "fixedColumns": {
                leftColumns: 1,
            }
        });

        $('#teamstats').DataTable({
            "iDisplayLength": 25,
            "bPaginate": false,
            scrollX: true,
            "fixedColumns": {
                leftColumns: 1,
            }
        });

        $('#goalietable').DataTable({
            "iDisplayLength": 25,
            "bPaginate": false,
            scrollX: true,
            "fixedColumns": {
                leftColumns: 1,
            }
        });


        //Creates the corsi graphs
        var playerStats = JSON.parse("{{ playersjson | escapejs }}");
        var homeSkaters = playerStats["{{ game.homeTeam.id }}"];
        var awaySkaters = playerStats["{{ game.awayTeam.id }}"];
        create_corsi_events(homeSkaters, "#home-corsi", "{{ game.homeTeam.teamName }}", "{{ form|format_form_state }}");
        create_corsi_events(awaySkaters, "#away-corsi", "{{ game.awayTeam.teamName }}", "{{ form|format_form_state }}");

        //shot graph
        var shotData = JSON.parse("{{ shotdatajson | escapejs }}");
        shotChart(shotData, "{{ game.homeTeam.abbreviation }}", "{{ game.awayTeam.abbreviation }}", "{{ form|format_form_state }}");
        playerCompare('#playerComparison', "#gameTabContent", "sca", "scf", playerStats);
        savePNG("#playerComparisonButton", "#playerComparison");

        $('#refreshGraph').click(function(e) {
            e.preventDefault();
            var x = $('#xaxis').val();
            var y = $('#yaxis').val();
            playerCompare('#playerComparison', "#gameTabContent", x, y, playerStats);
        });

        savePNG("#shotChartButton", "#shotChart");
        //savePNG("#saChartButton", "#saChart");
        //savePNG("#scChartButton", "#scChart");
        savePNG("#home-corsiButton", "#home-corsi");
        savePNG("#away-corsiButton", "#away-corsi");
        //savePNG("#coButton", "#co");
    });

    $('.filter-options').click(function(e) {
        var icon = $('.filter-options img');
        console.log(icon);
        if (icon.hasClass('filter-collapsed')) {
            icon.removeClass('filter-collapsed');
            icon.addClass('filter-expanded');
        } else {
            icon.removeClass('filter-expanded');
            icon.addClass('filter-collapsed');
        }
    });

    {% if game.gameState == "3" or game.gameState == "4" %}
        var interval = 1000 * 60 * 1; // where X is your every X minutes
        setTimeout(function() { location.reload(); }, interval);
    {% endif %}
</script>
{% endblock %}
