{% load pbp_extras %}
{% load staticfiles %}

<div class="table-responsive">
    <table id="goalietable" class="table full-width">
        <thead>
            <tr>
                <th title="Player">Player</th>
                <th title="Team">Team</th>
                <th title="Goals Unknown-Danger">GU</th>
                <th title="Goals Low-Danger">GL</th>
                <th title="Goals Medium-Danger">GM</th>
                <th title="Goals High-Danger">GH</th>
                <th title="Shots Unknown-Danger">SU</th>
                <th title="Shots Low-Danger">SL</th>
                <th title="Shots Medium-Danger">SM</th>
                <th title="Shots High-Danger">SH</th>
                <th title="Time On Ice">TOI</th>
            </tr>
        </thead>
        <tbody>
            {% for pid in goaliestats %}
            {% with player=goaliestats|get_item:pid %}
            <tr>
                <td title="Player"><a href="/players/goalies/{{ pid }}">{{ player.name }}</a></td>
                <td title="Team">{{ player.teamname }}</td>
                <td title="Goals Unknown-Danger">{{ player.gu }}</td>
                <td title="Goals Low-Danger">{{ player.gl }}</td>
                <td title="Goals Medium-Danger">{{ player.gm }}</td>
                <td title="Goals High-Danger">{{ player.gh }}</td>
                <td title="Shots Unknown-Danger">{{ player.su }}</td>
                <td title="Shots Low-Danger">{{ player.sl }}</td>
                <td title="Shots Medium-Danger">{{ player.sm }}</td>
                <td title="Shots High-Danger">{{ player.sh }}</td>
                <td title="Time On Ice">{{ player.toi }}</td>
            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>
</div>
