{% load website_extras %}
{% load pbp_extras %}
{% load staticfiles %}

<h4 class="text-center">
    {{ teamName }}
</h4>
<div class="table-responsive">
    <table id="{{ team_abbreviation }}-players" class="table full-width">
        <thead>
            <tr>
                <th title="Player">Player</th>
                <th title="Position">Position</th>
                <th title="Goals">G</th>
                <th title="Primary Assists">A1</th>
                <th title="Secondary Assists">A2</th>
                <th title="Points">P</th>
                <th title="Corsi For Total">CF</th>
                <th title="Corsi Against Total">CA</th>
                <th title="Fenwick For Total">FF</th>
                <th title="Fenwick Against Total">FA</th>
                <th title="On-Ice Goals For">GF</th>
                <th title="On-Ice Goals Against">GA</th>
                <th title="Individual Scoring Chances For">iSCF</th>
                <th title="Individual High Danger Scoring Chances For">iHSCF</th>
                <th title="Scoring Chances For">SCF</th>
                <th title="High Danger Scoring Chances For">HSCF</th>
                <th title="Scoring Chances Against">SCA</th>
                <th title="High Danger Scoring Chances Against">HSCA</th>
                <th title="Faceoffs Won">FO_W</th>
                <th title="Faceoffs Lost">FO_L</th>
                <th title="Offensive Zone Starts">ZSO</th>
                <th title="Neutral Zone Starts">ZSN</th>
                <th title="Defensive Zone Starts">ZSD</th>
                <th title="Hits">HIT</th>
                <th title="Hits Taken">HIT-</th>
                <th title="Penalties">PN</th>
                <th title="Penalties Taken">PN-</th>
                <th title="Time On Ice">TOI</th>
            </tr>
        </thead>
        <tbody>
            {% for pid in playerstats|get_item:team %}
            {% with player=playerstats|get_item:team|get_item:pid %}
            <tr>
                <td title="Player"><a href="/players/skaters/{{ pid }}/">{{ player.name }}</a></td>
                <td title="Position">{{ player.position|player_position }}</td>
                <td title="Goals">{{ player.g }}</td>
                <td title="Primary Assists">{{ player.a1 }}</td>
                <td title="Secondary Assists">{{ player.a2 }}</td>
                <td title="Points">{{ player.p }}</td>
                <td title="Corsi For Total">{{ player.cf }}</td>
                <td title="Corsi Against Total">{{ player.ca }}</td>
                <td title="Fenwick For Total">{{ player.ff }}</td>
                <td title="Fenwick Against Total">{{ player.fa }}</td>
                <td title="On-Ice Goals For">{{ player.gf }}</td>
                <td title="On-Ice Goals Against">{{ player.ga }}</td>
                <td title="Individual Scoring Chances For">{{ player.isc }}</td>
                <td title="Individual High Danger Scoring Chances For">{{ player.ihsc }}</td>
                <td title="Scoring Chances For">{{ player.scf }}</td>
                <td title="High Danger Scoring Chances For">{{ player.hscf }}</td>
                <td title="Scoring Chances Against">{{ player.sca }}</td>
                <td title="High Danger Scoring Chances Against">{{ player.hsca }}</td>
                <td title="Faceoffs Won">{{ player.fo_w }}</td>
                <td title="Faceoffs Lost">{{ player.fo_l }}</td>
                <td title="Offensive Zone Starts">{{ player.zso }}</td>
                <td title="Neutral Zone Starts">{{ player.zsn }}</td>
                <td title="Defensive Zone Starts">{{ player.zsd }}</td>
                <td title="Hits">{{ player.hitplus }}</td>
                <td title="Hits Taken">{{ player.hitminus }}</td>
                <td title="Penalties">{{ player.pnplus }}</td>
                <td title="Penalties Taken">{{ player.pnminus }}</td>
                <td title="Time On Ice">{{ player.toi }}</td>
            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>
</div>
