{% extends "wrappers/wrapper.html" %}
{% block title %}404 | WAR On Ice{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content text-center">
                    <h1>Whoops! Nothing to see here</h1>
                    <img src="{% static "/gifs/nothinghere.gif" %}" />
                    <h4>If you think this actually is a mistake on our end, <i class="fa fa-twitter"></i><a target="_blank" href="http://twitter.com/war_on_ice">tweet at us here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

